infra/sweden-public/main.json
{
  "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.43.8.12551",
      "templateHash": "6885399504176199914"
    }
  },
  "parameters": {
    "resourceGroupName": {
      "type": "string",
      "defaultValue": "rg-rag-indexing-lab-swc-pub",
      "metadata": {
        "description": "리소스 그룹 이름"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "swedencentral",
      "metadata": {
        "description": "배포 리전 - Sweden Central (Document Intelligence 지원)"
      }
    },
    "suffix": {
      "type": "string",
      "defaultValue": "[uniqueString(subscription().subscriptionId, parameters('resourceGroupName'))]",
      "metadata": {
        "description": "리소스 이름 접미사 (고유성 보장)"
      }
    },
    "embeddingDeploymentName": {
      "type": "string",
      "defaultValue": "text-embedding-3-large",
      "metadata": {
        "description": "Azure OpenAI embedding 모델 배포명"
      }
    },
    "gptDeploymentName": {
      "type": "string",
      "defaultValue": "gpt-5.4",
      "metadata": {
        "description": "Azure OpenAI GPT-5.4 모델 배포명"
      }
    },
    "gptModelVersion": {
      "type": "string",
      "metadata": {
        "description": "GPT 모델 버전"
      }
    },
    "gptModelName": {
      "type": "string",
      "defaultValue": "gpt-5.4",
      "metadata": {
        "description": "GPT 모델 이름 (GlobalStandard)"
      }
    },
    "searchSku": {
      "type": "string",
      "defaultValue": "standard",
      "allowedValues": [
        "basic",
        "standard",
        "standard2"
      ],
      "metadata": {
        "description": "AI Search SKU"
      }
    },
    "blobContainerName": {
      "type": "string",
      "defaultValue": "raw-documents",
      "metadata": {
        "description": "Storage Account 컨테이너 이름"
      }
    },
    "crawlerLimit": {
      "type": "int",
      "defaultValue": 10,
      "metadata": {
        "description": "크롤러가 수집할 법령 건수"
      }
    },
    "userObjectIds": {
      "type": "array",
      "defaultValue": [],
      "metadata": {
        "description": "데이터 평면(Storage/AI Search/AI Services/Doc Intelligence) RBAC를 부여할 Entra ID 사용자 Object ID 배열 — 본인 노트북에서 핸즈온 시 본인 Object ID 입력"
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.Resources/resourceGroups",
      "apiVersion": "2024-03-01",
      "name": "[parameters('resourceGroupName')]",
      "location": "[parameters('location')]",
      "tags": {
        "project": "rag-indexing-lab",
        "environment": "lab",
        "region": "swedencentral",
        "networking": "public"
      }
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "[format('vnet-deployment-{0}', take(parameters('suffix'), 8))]",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "12016044379626401833"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            }
          },
          "variables": {
            "vnetName": "[format('vnet-ragi-{0}', take(parameters('suffix'), 8))]",
            "nsgName": "[format('nsg-pep-ragi-{0}', take(parameters('suffix'), 8))]",
            "jumpSubnetName": "snet-jump",
            "pepSubnetName": "snet-pep",
            "funcSubnetName": "snet-func",
            "funcFc1SubnetName": "snet-func-fc1"
          },
          "resources": [
            {
              "type": "Microsoft.Network/networkSecurityGroups",
              "apiVersion": "2024-01-01",
              "name": "[variables('nsgName')]",
              "location": "[parameters('location')]",
              "properties": {
                "securityRules": []
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Network/virtualNetworks",
              "apiVersion": "2024-01-01",
              "name": "[variables('vnetName')]",
              "location": "[parameters('location')]",
              "properties": {
                "addressSpace": {
                  "addressPrefixes": [
                    "10.0.0.0/16"
                  ]
                },
                "subnets": [
                  {
                    "name": "[variables('jumpSubnetName')]",
                    "properties": {
                      "addressPrefix": "10.0.3.0/24"
                    }
                  },
                  {
                    "name": "[variables('pepSubnetName')]",
                    "properties": {
                      "addressPrefix": "10.0.1.0/24",
                      "networkSecurityGroup": {
                        "id": "[resourceId('Microsoft.Network/networkSecurityGroups', variables('nsgName'))]"
                      },
                      "privateEndpointNetworkPolicies": "Disabled",
                      "privateLinkServiceNetworkPolicies": "Disabled"
                    }
                  },
                  {
                    "name": "[variables('funcSubnetName')]",
                    "properties": {
                      "addressPrefix": "10.0.2.0/24",
                      "delegations": [
                        {
                          "name": "delegation-func",
                          "properties": {
                            "serviceName": "Microsoft.Web/serverFarms"
                          }
                        }
                      ]
                    }
                  },
                  {
                    "name": "[variables('funcFc1SubnetName')]",
                    "properties": {
                      "addressPrefix": "10.0.4.0/24",
                      "delegations": [
                        {
                          "name": "delegation-func-fc1",
                          "properties": {
                            "serviceName": "Microsoft.App/environments"
                          }
                        }
                      ],
                      "serviceEndpoints": [
                        {
                          "service": "Microsoft.Storage"
                        }
                      ]
                    }
                  }
                ]
              },
              "tags": {
                "project": "rag-indexing-lab"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/networkSecurityGroups', variables('nsgName'))]"
              ]
            }
          ],
          "outputs": {
            "vnetId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Network/virtualNetworks', variables('vnetName'))]"
            },
            "vnetName": {
              "type": "string",
              "value": "[variables('vnetName')]"
            },
            "pepSubnetId": {
              "type": "string",
              "value": "[format('{0}/subnets/{1}', resourceId('Microsoft.Network/virtualNetworks', variables('vnetName')), variables('pepSubnetName'))]"
            },
            "funcSubnetId": {
              "type": "string",
              "value": "[format('{0}/subnets/{1}', resourceId('Microsoft.Network/virtualNetworks', variables('vnetName')), variables('funcSubnetName'))]"
            },
            "funcFc1SubnetId": {
              "type": "string",
              "value": "[format('{0}/subnets/{1}', resourceId('Microsoft.Network/virtualNetworks', variables('vnetName')), variables('funcFc1SubnetName'))]"
            },
            "jumpSubnetId": {
              "type": "string",
              "value": "[format('{0}/subnets/{1}', resourceId('Microsoft.Network/virtualNetworks', variables('vnetName')), variables('jumpSubnetName'))]"
            }
          }
        }
      },
      "dependsOn": [
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "[format('storage-deployment-{0}', take(parameters('suffix'), 8))]",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          },
          "containerName": {
            "value": "[parameters('blobContainerName')]"
          },
          "userObjectIds": {
            "value": "[parameters('userObjectIds')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "15629047533411656423"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            },
            "containerName": {
              "type": "string",
              "defaultValue": "raw-documents",
              "metadata": {
                "description": "Blob 컨테이너 이름"
              }
            },
            "userObjectIds": {
              "type": "array",
              "defaultValue": [],
              "metadata": {
                "description": "Storage Data 역할을 부여할 Entra ID 사용자 Object ID 배열"
              }
            }
          },
          "variables": {
            "storageAccountName": "[format('stragi{0}', take(parameters('suffix'), 10))]"
          },
          "resources": [
            {
              "type": "Microsoft.Storage/storageAccounts",
              "apiVersion": "2023-05-01",
              "name": "[variables('storageAccountName')]",
              "location": "[parameters('location')]",
              "kind": "StorageV2",
              "sku": {
                "name": "Standard_LRS"
              },
              "properties": {
                "accessTier": "Hot",
                "supportsHttpsTrafficOnly": true,
                "minimumTlsVersion": "TLS1_2",
                "allowBlobPublicAccess": false,
                "allowSharedKeyAccess": false,
                "publicNetworkAccess": "Enabled",
                "networkAcls": {
                  "bypass": "AzureServices",
                  "defaultAction": "Allow"
                }
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Storage/storageAccounts/blobServices",
              "apiVersion": "2023-05-01",
              "name": "[format('{0}/{1}', variables('storageAccountName'), 'default')]",
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
              ]
            },
            {
              "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
              "apiVersion": "2023-05-01",
              "name": "[format('{0}/{1}/{2}', variables('storageAccountName'), 'default', parameters('containerName'))]",
              "properties": {
                "publicAccess": "None"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', variables('storageAccountName'), 'default')]"
              ]
            },
            {
              "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
              "apiVersion": "2023-05-01",
              "name": "[format('{0}/{1}/{2}', variables('storageAccountName'), 'default', 'processed-documents')]",
              "properties": {
                "publicAccess": "None"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', variables('storageAccountName'), 'default')]"
              ]
            },
            {
              "copy": {
                "name": "blobRbac",
                "count": "[length(parameters('userObjectIds'))]"
              },
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]",
              "name": "[guid(resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName')), parameters('userObjectIds')[copyIndex()], 'ba92f5b4-2d11-453d-a403-e96b0029c9fe')]",
              "properties": {
                "principalId": "[parameters('userObjectIds')[copyIndex()]]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'ba92f5b4-2d11-453d-a403-e96b0029c9fe')]",
                "principalType": "User"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
              ]
            },
            {
              "copy": {
                "name": "queueRbac",
                "count": "[length(parameters('userObjectIds'))]"
              },
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]",
              "name": "[guid(resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName')), parameters('userObjectIds')[copyIndex()], '974c5e8b-45b9-4653-ba55-5f855dd0fb88')]",
              "properties": {
                "principalId": "[parameters('userObjectIds')[copyIndex()]]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '974c5e8b-45b9-4653-ba55-5f855dd0fb88')]",
                "principalType": "User"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
              ]
            },
            {
              "copy": {
                "name": "tableRbac",
                "count": "[length(parameters('userObjectIds'))]"
              },
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]",
              "name": "[guid(resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName')), parameters('userObjectIds')[copyIndex()], '0a9a7e1f-b9d0-4cc4-a60d-0319b160aaa3')]",
              "properties": {
                "principalId": "[parameters('userObjectIds')[copyIndex()]]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '0a9a7e1f-b9d0-4cc4-a60d-0319b160aaa3')]",
                "principalType": "User"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
              ]
            }
          ],
          "outputs": {
            "storageAccountName": {
              "type": "string",
              "value": "[variables('storageAccountName')]"
            },
            "storageAccountId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
            },
            "blobEndpoint": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName')), '2023-05-01').primaryEndpoints.blob]"
            }
          }
        }
      },
      "dependsOn": [
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "[format('openai-deployment-{0}', take(parameters('suffix'), 8))]",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          },
          "embeddingDeploymentName": {
            "value": "[parameters('embeddingDeploymentName')]"
          },
          "gptDeploymentName": {
            "value": "[parameters('gptDeploymentName')]"
          },
          "gptModelName": {
            "value": "[parameters('gptModelName')]"
          },
          "gptModelVersion": {
            "value": "[parameters('gptModelVersion')]"
          },
          "userObjectIds": {
            "value": "[parameters('userObjectIds')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "3709409222188853371"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            },
            "embeddingDeploymentName": {
              "type": "string",
              "defaultValue": "text-embedding-3-large",
              "metadata": {
                "description": "Embedding 모델 배포명"
              }
            },
            "gptDeploymentName": {
              "type": "string",
              "defaultValue": "gpt-5.4",
              "metadata": {
                "description": "GPT-5.4 모델 배포명"
              }
            },
            "gptModelName": {
              "type": "string",
              "defaultValue": "gpt-5.4",
              "metadata": {
                "description": "GPT 모델 이름"
              }
            },
            "gptModelVersion": {
              "type": "string",
              "metadata": {
                "description": "GPT 모델 버전"
              }
            },
            "foundryProjectName": {
              "type": "string",
              "defaultValue": "proj-ragi-default",
              "metadata": {
                "description": "Foundry Agent Service 프로젝트 이름 (Scenario E)"
              }
            },
            "userObjectIds": {
              "type": "array",
              "defaultValue": [],
              "metadata": {
                "description": "AI Services / OpenAI / Foundry Project 사용자 RBAC를 부여할 Entra ID 사용자 Object ID 배열"
              }
            }
          },
          "variables": {
            "accountName": "[format('ais-ragi-{0}', take(parameters('suffix'), 8))]",
            "cognitiveServicesOpenAIUserRoleId": "5e0bd9bd-7b93-4f28-af87-19fc36ad61bd",
            "cognitiveServicesUserRoleId": "a97b65f3-24c7-4388-baec-2e87135dc908",
            "azureAIUserRoleId": "53ca6127-db72-4b80-b1b0-d745d6d5456d"
          },
          "resources": [
            {
              "type": "Microsoft.CognitiveServices/accounts",
              "apiVersion": "2025-04-01-preview",
              "name": "[variables('accountName')]",
              "location": "[parameters('location')]",
              "kind": "AIServices",
              "sku": {
                "name": "S0"
              },
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "customSubDomainName": "[variables('accountName')]",
                "publicNetworkAccess": "Enabled",
                "networkAcls": {
                  "defaultAction": "Allow",
                  "bypass": "AzureServices"
                },
                "allowProjectManagement": true
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.CognitiveServices/accounts/deployments",
              "apiVersion": "2024-10-01",
              "name": "[format('{0}/{1}', variables('accountName'), parameters('embeddingDeploymentName'))]",
              "sku": {
                "name": "Standard",
                "capacity": 120
              },
              "properties": {
                "model": {
                  "format": "OpenAI",
                  "name": "text-embedding-3-large",
                  "version": "1"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.CognitiveServices/accounts', variables('accountName'))]"
              ]
            },
            {
              "type": "Microsoft.CognitiveServices/accounts/deployments",
              "apiVersion": "2024-10-01",
              "name": "[format('{0}/{1}', variables('accountName'), parameters('gptDeploymentName'))]",
              "sku": {
                "name": "GlobalStandard",
                "capacity": 30
              },
              "properties": {
                "model": {
                  "format": "OpenAI",
                  "name": "[parameters('gptModelName')]",
                  "version": "[parameters('gptModelVersion')]"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.CognitiveServices/accounts/deployments', variables('accountName'), parameters('embeddingDeploymentName'))]",
                "[resourceId('Microsoft.CognitiveServices/accounts', variables('accountName'))]"
              ]
            },
            {
              "type": "Microsoft.CognitiveServices/accounts/projects",
              "apiVersion": "2025-04-01-preview",
              "name": "[format('{0}/{1}', variables('accountName'), parameters('foundryProjectName'))]",
              "location": "[parameters('location')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "displayName": "RAG Indexing Lab Foundry Project",
                "description": "Foundry Agent Service project for legal RAG demo (notebook 04 Scenario E)"
              },
              "dependsOn": [
                "[resourceId('Microsoft.CognitiveServices/accounts', variables('accountName'))]"
              ]
            },
            {
              "copy": {
                "name": "userOpenAIUser",
                "count": "[length(parameters('userObjectIds'))]"
              },
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', variables('accountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', variables('accountName')), parameters('userObjectIds')[copyIndex()], variables('cognitiveServicesOpenAIUserRoleId'))]",
              "properties": {
                "principalId": "[parameters('userObjectIds')[copyIndex()]]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('cognitiveServicesOpenAIUserRoleId'))]",
                "principalType": "User"
              },
              "dependsOn": [
                "[resourceId('Microsoft.CognitiveServices/accounts', variables('accountName'))]"
              ]
            },
            {
              "copy": {
                "name": "userCogUser",
                "count": "[length(parameters('userObjectIds'))]"
              },
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', variables('accountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', variables('accountName')), parameters('userObjectIds')[copyIndex()], variables('cognitiveServicesUserRoleId'))]",
              "properties": {
                "principalId": "[parameters('userObjectIds')[copyIndex()]]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('cognitiveServicesUserRoleId'))]",
                "principalType": "User"
              },
              "dependsOn": [
                "[resourceId('Microsoft.CognitiveServices/accounts', variables('accountName'))]"
              ]
            },
            {
              "copy": {
                "name": "userAIUser",
                "count": "[length(parameters('userObjectIds'))]"
              },
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', variables('accountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', variables('accountName')), parameters('userObjectIds')[copyIndex()], variables('azureAIUserRoleId'))]",
              "properties": {
                "principalId": "[parameters('userObjectIds')[copyIndex()]]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('azureAIUserRoleId'))]",
                "principalType": "User"
              },
              "dependsOn": [
                "[resourceId('Microsoft.CognitiveServices/accounts', variables('accountName'))]"
              ]
            }
          ],
          "outputs": {
            "endpoint": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.CognitiveServices/accounts', variables('accountName')), '2025-04-01-preview').endpoint]"
            },
            "accountName": {
              "type": "string",
              "value": "[variables('accountName')]"
            },
            "accountId": {
              "type": "string",
              "value": "[resourceId('Microsoft.CognitiveServices/accounts', variables('accountName'))]"
            },
            "gptDeploymentName": {
              "type": "string",
              "value": "[parameters('gptDeploymentName')]"
            },
            "foundryProjectName": {
              "type": "string",
              "value": "[parameters('foundryProjectName')]"
            },
            "foundryProjectId": {
              "type": "string",
              "value": "[resourceId('Microsoft.CognitiveServices/accounts/projects', variables('accountName'), parameters('foundryProjectName'))]"
            },
            "foundryProjectEndpoint": {
              "type": "string",
              "value": "[format('https://{0}.services.ai.azure.com/api/projects/{1}', variables('accountName'), parameters('foundryProjectName'))]"
            }
          }
        }
      },
      "dependsOn": [
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "[format('doc-intelligence-deployment-{0}', take(parameters('suffix'), 8))]",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          },
          "userObjectIds": {
            "value": "[parameters('userObjectIds')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "15626755654224383762"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            },
            "userObjectIds": {
              "type": "array",
              "defaultValue": [],
              "metadata": {
                "description": "Document Intelligence 사용자 RBAC를 부여할 Entra ID 사용자 Object ID 배열"
              }
            }
          },
          "variables": {
            "docIntelName": "[format('di-ragi-{0}', take(parameters('suffix'), 8))]",
            "cognitiveServicesUserRoleId": "a97b65f3-24c7-4388-baec-2e87135dc908"
          },
          "resources": [
            {
              "type": "Microsoft.CognitiveServices/accounts",
              "apiVersion": "2024-10-01",
              "name": "[variables('docIntelName')]",
              "location": "[parameters('location')]",
              "kind": "FormRecognizer",
              "sku": {
                "name": "S0"
              },
              "properties": {
                "customSubDomainName": "[variables('docIntelName')]",
                "publicNetworkAccess": "Enabled",
                "networkAcls": {
                  "defaultAction": "Allow"
                }
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "copy": {
                "name": "userCogUser",
                "count": "[length(parameters('userObjectIds'))]"
              },
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', variables('docIntelName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', variables('docIntelName')), parameters('userObjectIds')[copyIndex()], variables('cognitiveServicesUserRoleId'))]",
              "properties": {
                "principalId": "[parameters('userObjectIds')[copyIndex()]]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('cognitiveServicesUserRoleId'))]",
                "principalType": "User"
              },
              "dependsOn": [
                "[resourceId('Microsoft.CognitiveServices/accounts', variables('docIntelName'))]"
              ]
            }
          ],
          "outputs": {
            "endpoint": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.CognitiveServices/accounts', variables('docIntelName')), '2024-10-01').endpoint]"
            },
            "docIntelligenceName": {
              "type": "string",
              "value": "[variables('docIntelName')]"
            },
            "docIntelligenceId": {
              "type": "string",
              "value": "[resourceId('Microsoft.CognitiveServices/accounts', variables('docIntelName'))]"
            }
          }
        }
      },
      "dependsOn": [
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "[format('ai-search-deployment-{0}', take(parameters('suffix'), 8))]",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          },
          "sku": {
            "value": "[parameters('searchSku')]"
          },
          "storageAccountId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.storageAccountId.value]"
          },
          "aiServicesId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('openai-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.accountId.value]"
          },
          "userObjectIds": {
            "value": "[parameters('userObjectIds')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "6153480588994010163"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            },
            "sku": {
              "type": "string",
              "defaultValue": "basic",
              "allowedValues": [
                "basic",
                "standard",
                "standard2"
              ],
              "metadata": {
                "description": "AI Search SKU"
              }
            },
            "storageAccountId": {
              "type": "string",
              "metadata": {
                "description": "Storage Account 리소스 ID (RBAC용)"
              }
            },
            "aiServicesId": {
              "type": "string",
              "metadata": {
                "description": "AI Services 리소스 ID (RBAC용)"
              }
            },
            "userObjectIds": {
              "type": "array",
              "defaultValue": [],
              "metadata": {
                "description": "AI Search 사용자 RBAC를 부여할 Entra ID 사용자 Object ID 배열"
              }
            }
          },
          "variables": {
            "searchServiceName": "[format('search-ragi-{0}', take(parameters('suffix'), 8))]",
            "storageBlobDataContributorRoleId": "ba92f5b4-2d11-453d-a403-e96b0029c9fe",
            "storageTableDataContributorRoleId": "0a9a7e1f-b9d0-4cc4-a60d-0319b160aaa3",
            "cognitiveServicesUserRoleId": "a97b65f3-24c7-4388-baec-2e87135dc908",
            "searchServiceContributorRoleId": "7ca78c08-252a-4471-8644-bb5ff32d4ba0",
            "searchIndexDataContributorRoleId": "8ebe5a00-799e-43f5-93ac-243d3dce84a7"
          },
          "resources": [
            {
              "type": "Microsoft.Search/searchServices",
              "apiVersion": "2024-06-01-preview",
              "name": "[variables('searchServiceName')]",
              "location": "[parameters('location')]",
              "sku": {
                "name": "[parameters('sku')]"
              },
              "properties": {
                "replicaCount": 1,
                "partitionCount": 1,
                "hostingMode": "default",
                "publicNetworkAccess": "enabled",
                "semanticSearch": "standard",
                "authOptions": {
                  "aadOrApiKey": {
                    "aadAuthFailureMode": "http403"
                  }
                }
              },
              "identity": {
                "type": "SystemAssigned"
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Search/searchServices', variables('searchServiceName')), variables('storageBlobDataContributorRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Search/searchServices', variables('searchServiceName')), '2024-06-01-preview', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageBlobDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Search/searchServices', variables('searchServiceName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Search/searchServices', variables('searchServiceName')), variables('storageTableDataContributorRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Search/searchServices', variables('searchServiceName')), '2024-06-01-preview', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageTableDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Search/searchServices', variables('searchServiceName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('aiServicesId'), resourceId('Microsoft.Search/searchServices', variables('searchServiceName')), variables('cognitiveServicesUserRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Search/searchServices', variables('searchServiceName')), '2024-06-01-preview', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('cognitiveServicesUserRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Search/searchServices', variables('searchServiceName'))]"
              ]
            },
            {
              "copy": {
                "name": "userSearchServiceContributor",
                "count": "[length(parameters('userObjectIds'))]"
              },
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.Search/searchServices', variables('searchServiceName'))]",
              "name": "[guid(resourceId('Microsoft.Search/searchServices', variables('searchServiceName')), parameters('userObjectIds')[copyIndex()], variables('searchServiceContributorRoleId'))]",
              "properties": {
                "principalId": "[parameters('userObjectIds')[copyIndex()]]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('searchServiceContributorRoleId'))]",
                "principalType": "User"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Search/searchServices', variables('searchServiceName'))]"
              ]
            },
            {
              "copy": {
                "name": "userSearchIndexDataContributor",
                "count": "[length(parameters('userObjectIds'))]"
              },
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.Search/searchServices', variables('searchServiceName'))]",
              "name": "[guid(resourceId('Microsoft.Search/searchServices', variables('searchServiceName')), parameters('userObjectIds')[copyIndex()], variables('searchIndexDataContributorRoleId'))]",
              "properties": {
                "principalId": "[parameters('userObjectIds')[copyIndex()]]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('searchIndexDataContributorRoleId'))]",
                "principalType": "User"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Search/searchServices', variables('searchServiceName'))]"
              ]
            }
          ],
          "outputs": {
            "endpoint": {
              "type": "string",
              "value": "[format('https://{0}.search.windows.net', variables('searchServiceName'))]"
            },
            "searchServiceName": {
              "type": "string",
              "value": "[variables('searchServiceName')]"
            },
            "searchServiceId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Search/searchServices', variables('searchServiceName'))]"
            },
            "searchServicePrincipalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Search/searchServices', variables('searchServiceName')), '2024-06-01-preview', 'full').identity.principalId]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('openai-deployment-{0}', take(parameters('suffix'), 8)))]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8)))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "[format('role-search-to-openai-{0}', take(parameters('suffix'), 8))]",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "aoaiAccountName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('openai-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.accountName.value]"
          },
          "aiSearchPrincipalId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('ai-search-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.searchServicePrincipalId.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "3451337202875044501"
            }
          },
          "parameters": {
            "aoaiAccountName": {
              "type": "string",
              "metadata": {
                "description": "AOAI 계정 이름 (existing reference)"
              }
            },
            "aiSearchPrincipalId": {
              "type": "string",
              "metadata": {
                "description": "AI Search System-Assigned MSI principalId"
              }
            }
          },
          "variables": {
            "openAIUserRoleId": "5e0bd9bd-7b93-4f28-af87-19fc36ad61bd"
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', parameters('aoaiAccountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', parameters('aoaiAccountName')), parameters('aiSearchPrincipalId'), variables('openAIUserRoleId'))]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('openAIUserRoleId'))]",
                "principalId": "[parameters('aiSearchPrincipalId')]",
                "principalType": "ServicePrincipal"
              }
            }
          ]
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('ai-search-deployment-{0}', take(parameters('suffix'), 8)))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('openai-deployment-{0}', take(parameters('suffix'), 8)))]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "[format('function-crawler-deployment-{0}', take(parameters('suffix'), 8))]",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          },
          "funcSubnetId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('vnet-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.funcSubnetId.value]"
          },
          "storageAccountName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.storageAccountName.value]"
          },
          "storageAccountId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.storageAccountId.value]"
          },
          "blobContainerName": {
            "value": "[parameters('blobContainerName')]"
          },
          "crawlerLimit": {
            "value": "[parameters('crawlerLimit')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "498288163301175562"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            },
            "funcSubnetId": {
              "type": "string",
              "metadata": {
                "description": "Function App VNet integration 서브넷 ID (snet-func)"
              }
            },
            "storageAccountName": {
              "type": "string",
              "metadata": {
                "description": "Storage Account 이름 (크롤러가 업로드할 대상)"
              }
            },
            "storageAccountId": {
              "type": "string",
              "metadata": {
                "description": "Storage Account ID (RBAC용)"
              }
            },
            "blobContainerName": {
              "type": "string",
              "defaultValue": "raw-documents",
              "metadata": {
                "description": "Blob 컨테이너 이름"
              }
            },
            "crawlerLimit": {
              "type": "int",
              "defaultValue": 10,
              "metadata": {
                "description": "크롤러가 수집할 법령 건수"
              }
            }
          },
          "variables": {
            "planName": "[format('asp-crawl-ragi-{0}', take(parameters('suffix'), 8))]",
            "funcAppName": "[format('func-crawl-ragi-{0}', take(parameters('suffix'), 8))]",
            "storageBlobDataContributorRoleId": "ba92f5b4-2d11-453d-a403-e96b0029c9fe",
            "storageQueueDataContributorRoleId": "974c5e8b-45b9-4653-ba55-5f855dd0fb88",
            "storageTableDataContributorRoleId": "0a9a7e1f-b9d0-4cc4-a60d-0319b160aaa3"
          },
          "resources": [
            {
              "type": "Microsoft.Web/serverfarms",
              "apiVersion": "2023-12-01",
              "name": "[variables('planName')]",
              "location": "[parameters('location')]",
              "sku": {
                "name": "EP1",
                "tier": "ElasticPremium"
              },
              "kind": "elastic",
              "properties": {
                "reserved": true,
                "maximumElasticWorkerCount": 5
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Web/sites",
              "apiVersion": "2023-12-01",
              "name": "[variables('funcAppName')]",
              "location": "[parameters('location')]",
              "kind": "functionapp,linux",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', variables('planName'))]",
                "httpsOnly": true,
                "virtualNetworkSubnetId": "[parameters('funcSubnetId')]",
                "siteConfig": {
                  "linuxFxVersion": "Python|3.11",
                  "appSettings": [
                    {
                      "name": "FUNCTIONS_EXTENSION_VERSION",
                      "value": "~4"
                    },
                    {
                      "name": "FUNCTIONS_WORKER_RUNTIME",
                      "value": "python"
                    },
                    {
                      "name": "AzureWebJobsStorage__accountName",
                      "value": "[parameters('storageAccountName')]"
                    },
                    {
                      "name": "AzureWebJobsStorage__credential",
                      "value": "managedidentity"
                    },
                    {
                      "name": "AZURE_STORAGE_ACCOUNT_NAME",
                      "value": "[parameters('storageAccountName')]"
                    },
                    {
                      "name": "AZURE_BLOB_CONTAINER_NAME",
                      "value": "[parameters('blobContainerName')]"
                    },
                    {
                      "name": "CRAWLER_LIMIT",
                      "value": "[string(parameters('crawlerLimit'))]"
                    }
                  ],
                  "cors": {
                    "allowedOrigins": [
                      "https://portal.azure.com"
                    ]
                  },
                  "minTlsVersion": "1.2"
                }
              },
              "tags": {
                "project": "rag-indexing-lab"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/serverfarms', variables('planName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('storageBlobDataContributorRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageBlobDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('storageQueueDataContributorRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageQueueDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('storageTableDataContributorRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageTableDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            }
          ],
          "outputs": {
            "funcAppName": {
              "type": "string",
              "value": "[variables('funcAppName')]"
            },
            "funcAppHostname": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01').defaultHostName]"
            },
            "funcAppId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
            },
            "funcAppPrincipalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]"
            },
            "hostingPlanId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Web/serverfarms', variables('planName'))]"
            },
            "crawlTriggerUrl": {
              "type": "string",
              "value": "[format('https://{0}/api/crawl', reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01').defaultHostName)]"
            }
          }
        }
      },
      "dependsOn": [
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8)))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('vnet-deployment-{0}', take(parameters('suffix'), 8)))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "[format('function-preprocess-deployment-{0}', take(parameters('suffix'), 8))]",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          },
          "funcSubnetId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('vnet-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.funcSubnetId.value]"
          },
          "hostingPlanId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('function-crawler-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.hostingPlanId.value]"
          },
          "storageAccountName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.storageAccountName.value]"
          },
          "storageAccountId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.storageAccountId.value]"
          },
          "rawContainerName": {
            "value": "[parameters('blobContainerName')]"
          },
          "processedContainerName": {
            "value": "processed-documents"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "7461962881324859968"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            },
            "funcSubnetId": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "Function App VNet integration 서브넷 ID (snet-func). 비워두면 VNet integration 미설정 (배포 후 az CLI로 추가)"
              }
            },
            "hostingPlanId": {
              "type": "string",
              "metadata": {
                "description": "공유 Elastic Premium 플랜 ID (function-crawler.bicep 의 asp-crawl 플랜)"
              }
            },
            "storageAccountName": {
              "type": "string",
              "metadata": {
                "description": "Storage Account 이름"
              }
            },
            "storageAccountId": {
              "type": "string",
              "metadata": {
                "description": "Storage Account ID (RBAC용)"
              }
            },
            "rawContainerName": {
              "type": "string",
              "defaultValue": "raw-documents",
              "metadata": {
                "description": "Raw JSON 컨테이너 이름"
              }
            },
            "processedContainerName": {
              "type": "string",
              "defaultValue": "processed-documents",
              "metadata": {
                "description": "Processed JSONL 컨테이너 이름"
              }
            }
          },
          "variables": {
            "funcAppName": "[format('func-preprocess-ragi-{0}', take(parameters('suffix'), 8))]",
            "storageBlobDataContributorRoleId": "ba92f5b4-2d11-453d-a403-e96b0029c9fe",
            "storageQueueDataContributorRoleId": "974c5e8b-45b9-4653-ba55-5f855dd0fb88",
            "storageTableDataContributorRoleId": "0a9a7e1f-b9d0-4cc4-a60d-0319b160aaa3"
          },
          "resources": [
            {
              "type": "Microsoft.Web/sites",
              "apiVersion": "2023-12-01",
              "name": "[variables('funcAppName')]",
              "location": "[parameters('location')]",
              "kind": "functionapp,linux",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "serverFarmId": "[parameters('hostingPlanId')]",
                "httpsOnly": true,
                "virtualNetworkSubnetId": "[if(empty(parameters('funcSubnetId')), null(), parameters('funcSubnetId'))]",
                "siteConfig": {
                  "linuxFxVersion": "Python|3.11",
                  "appSettings": [
                    {
                      "name": "FUNCTIONS_EXTENSION_VERSION",
                      "value": "~4"
                    },
                    {
                      "name": "FUNCTIONS_WORKER_RUNTIME",
                      "value": "python"
                    },
                    {
                      "name": "AzureWebJobsStorage__accountName",
                      "value": "[parameters('storageAccountName')]"
                    },
                    {
                      "name": "AzureWebJobsStorage__credential",
                      "value": "managedidentity"
                    },
                    {
                      "name": "AZURE_STORAGE_ACCOUNT_NAME",
                      "value": "[parameters('storageAccountName')]"
                    },
                    {
                      "name": "AZURE_BLOB_CONTAINER_RAW",
                      "value": "[parameters('rawContainerName')]"
                    },
                    {
                      "name": "AZURE_BLOB_CONTAINER_PROCESSED",
                      "value": "[parameters('processedContainerName')]"
                    },
                    {
                      "name": "PREPROCESS_WORKERS",
                      "value": "16"
                    }
                  ],
                  "cors": {
                    "allowedOrigins": [
                      "https://portal.azure.com"
                    ]
                  },
                  "minTlsVersion": "1.2"
                }
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('storageBlobDataContributorRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageBlobDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('storageQueueDataContributorRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageQueueDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('storageTableDataContributorRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageTableDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            }
          ],
          "outputs": {
            "funcAppName": {
              "type": "string",
              "value": "[variables('funcAppName')]"
            },
            "funcAppHostname": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01').defaultHostName]"
            },
            "funcAppId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
            },
            "funcAppPrincipalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]"
            },
            "preprocessTriggerUrl": {
              "type": "string",
              "value": "[format('https://{0}/api/preprocess', reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01').defaultHostName)]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('function-crawler-deployment-{0}', take(parameters('suffix'), 8)))]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8)))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('vnet-deployment-{0}', take(parameters('suffix'), 8)))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "[format('function-crawler-consumption-deployment-{0}', take(parameters('suffix'), 8))]",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          },
          "funcSubnetId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('vnet-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.funcFc1SubnetId.value]"
          },
          "storageAccountName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.storageAccountName.value]"
          },
          "storageAccountId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.storageAccountId.value]"
          },
          "blobContainerName": {
            "value": "[parameters('blobContainerName')]"
          },
          "preprocessFunctionAppName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('function-preprocess-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.funcAppName.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "11751191799658020549"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전 (Flex Consumption 지원 리전이어야 함)"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            },
            "funcSubnetId": {
              "type": "string",
              "metadata": {
                "description": "Function App VNet integration 서브넷 ID (snet-func, Microsoft.Web/serverFarms 위임)"
              }
            },
            "storageAccountName": {
              "type": "string",
              "metadata": {
                "description": "Storage Account 이름 (raw/processed + deployment 컨테이너 공용)"
              }
            },
            "storageAccountId": {
              "type": "string",
              "metadata": {
                "description": "Storage Account ID (RBAC 스코프용)"
              }
            },
            "blobContainerName": {
              "type": "string",
              "defaultValue": "raw-documents",
              "metadata": {
                "description": "Blob (raw) 컨테이너 이름"
              }
            },
            "deploymentContainerName": {
              "type": "string",
              "defaultValue": "function-deployments",
              "metadata": {
                "description": "FC1 deployment 패키지를 보관할 Blob 컨테이너 이름 (Functions 런타임이 Identity 로 접근)"
              }
            },
            "preprocessFunctionAppName": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "Preprocess Function App 이름 (PREPROCESS_FUNCTION_URI 자동 구성용). 비우면 직접 설정 필요."
              }
            },
            "instanceMemoryMB": {
              "type": "int",
              "defaultValue": 2048,
              "metadata": {
                "description": "인스턴스 1개 메모리 (MB). 2048/4096 가능"
              }
            },
            "maximumInstanceCount": {
              "type": "int",
              "defaultValue": 40,
              "metadata": {
                "description": "최대 동시 인스턴스 수 (자동 스케일 상한)"
              }
            }
          },
          "variables": {
            "planName": "[format('asp-crawl-cons-ragi-{0}', take(parameters('suffix'), 8))]",
            "funcAppName": "[format('func-crawl-cons-ragi-{0}', take(parameters('suffix'), 8))]",
            "storageBlobDataContributorRoleId": "ba92f5b4-2d11-453d-a403-e96b0029c9fe",
            "storageQueueDataContributorRoleId": "974c5e8b-45b9-4653-ba55-5f855dd0fb88",
            "storageTableDataContributorRoleId": "0a9a7e1f-b9d0-4cc4-a60d-0319b160aaa3"
          },
          "resources": [
            {
              "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
              "apiVersion": "2023-05-01",
              "name": "[format('{0}/{1}/{2}', parameters('storageAccountName'), 'default', parameters('deploymentContainerName'))]",
              "properties": {
                "publicAccess": "None"
              }
            },
            {
              "type": "Microsoft.Web/serverfarms",
              "apiVersion": "2024-04-01",
              "name": "[variables('planName')]",
              "location": "[parameters('location')]",
              "sku": {
                "tier": "FlexConsumption",
                "name": "FC1"
              },
              "kind": "functionapp",
              "properties": {
                "reserved": true
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Web/sites",
              "apiVersion": "2024-04-01",
              "name": "[variables('funcAppName')]",
              "location": "[parameters('location')]",
              "kind": "functionapp,linux",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', variables('planName'))]",
                "httpsOnly": true,
                "virtualNetworkSubnetId": "[parameters('funcSubnetId')]",
                "vnetRouteAllEnabled": true,
                "publicNetworkAccess": "Enabled",
                "functionAppConfig": {
                  "deployment": {
                    "storage": {
                      "type": "blobContainer",
                      "value": "[format('{0}{1}', reference(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2023-05-01').primaryEndpoints.blob, parameters('deploymentContainerName'))]",
                      "authentication": {
                        "type": "SystemAssignedIdentity"
                      }
                    }
                  },
                  "scaleAndConcurrency": {
                    "instanceMemoryMB": "[parameters('instanceMemoryMB')]",
                    "maximumInstanceCount": "[parameters('maximumInstanceCount')]"
                  },
                  "runtime": {
                    "name": "python",
                    "version": "3.11"
                  }
                },
                "siteConfig": {
                  "minTlsVersion": "1.2",
                  "cors": {
                    "allowedOrigins": [
                      "https://portal.azure.com"
                    ]
                  },
                  "appSettings": [
                    {
                      "name": "AzureWebJobsStorage__accountName",
                      "value": "[parameters('storageAccountName')]"
                    },
                    {
                      "name": "AzureWebJobsStorage__credential",
                      "value": "managedidentity"
                    },
                    {
                      "name": "AZURE_STORAGE_ACCOUNT_NAME",
                      "value": "[parameters('storageAccountName')]"
                    },
                    {
                      "name": "AZURE_BLOB_CONTAINER_NAME",
                      "value": "[parameters('blobContainerName')]"
                    },
                    {
                      "name": "CRAWLER_DETAIL_BATCH_SIZE",
                      "value": "50"
                    },
                    {
                      "name": "CRAWL_DETAIL_WORKERS",
                      "value": "5"
                    },
                    {
                      "name": "PREPROCESS_TIMEOUT_SECONDS",
                      "value": "3600"
                    },
                    {
                      "name": "PREPROCESS_FUNCTION_URI",
                      "value": "[if(empty(parameters('preprocessFunctionAppName')), '', format('https://{0}.azurewebsites.net/api/preprocess', parameters('preprocessFunctionAppName')))]"
                    }
                  ]
                }
              },
              "tags": {
                "project": "rag-indexing-lab"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/serverfarms', variables('planName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('storageBlobDataContributorRoleId'), 'fc1')]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2024-04-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageBlobDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('storageQueueDataContributorRoleId'), 'fc1')]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2024-04-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageQueueDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('storageTableDataContributorRoleId'), 'fc1')]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2024-04-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageTableDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            }
          ],
          "outputs": {
            "funcAppName": {
              "type": "string",
              "value": "[variables('funcAppName')]"
            },
            "funcAppHostname": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2024-04-01').defaultHostName]"
            },
            "funcAppId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
            },
            "funcAppPrincipalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2024-04-01', 'full').identity.principalId]"
            },
            "hostingPlanId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Web/serverfarms', variables('planName'))]"
            },
            "deploymentContainerName": {
              "type": "string",
              "value": "[parameters('deploymentContainerName')]"
            },
            "orchestratorTriggerUrl": {
              "type": "string",
              "value": "[format('https://{0}/api/orchestrators/crawl_preprocess', reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2024-04-01').defaultHostName)]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('function-preprocess-deployment-{0}', take(parameters('suffix'), 8)))]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8)))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('vnet-deployment-{0}', take(parameters('suffix'), 8)))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "[format('function-skills-deployment-{0}', take(parameters('suffix'), 8))]",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          },
          "funcSubnetId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('vnet-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.funcSubnetId.value]"
          },
          "hostingPlanId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('function-crawler-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.hostingPlanId.value]"
          },
          "storageAccountName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.storageAccountName.value]"
          },
          "storageAccountId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.storageAccountId.value]"
          },
          "aiServicesAccountId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('openai-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.accountId.value]"
          },
          "openaiEndpoint": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('openai-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.endpoint.value]"
          },
          "gpt54Deployment": {
            "value": "[parameters('gptDeploymentName')]"
          },
          "docIntelligenceEndpoint": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('doc-intelligence-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.endpoint.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "8433202576928068228"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            },
            "funcSubnetId": {
              "type": "string",
              "metadata": {
                "description": "Function App VNet integration 서브넷 ID (snet-func)"
              }
            },
            "hostingPlanId": {
              "type": "string",
              "metadata": {
                "description": "공유 Elastic Premium 플랜 ID (asp-crawl-...)"
              }
            },
            "storageAccountName": {
              "type": "string",
              "metadata": {
                "description": "Storage Account 이름 (Functions runtime 용)"
              }
            },
            "storageAccountId": {
              "type": "string",
              "metadata": {
                "description": "Storage Account ID (RBAC용)"
              }
            },
            "aiServicesAccountId": {
              "type": "string",
              "metadata": {
                "description": "Azure OpenAI / AI Services account ID (RBAC용)"
              }
            },
            "openaiEndpoint": {
              "type": "string",
              "metadata": {
                "description": "Azure OpenAI endpoint (https://<account>.openai.azure.com/ 또는 cognitiveservices.azure.com/)"
              }
            },
            "gpt54Deployment": {
              "type": "string",
              "defaultValue": "gpt-5.4",
              "metadata": {
                "description": "GPT-5.4 deployment name"
              }
            },
            "docIntelligenceEndpoint": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "Document Intelligence endpoint (verbalize 용)"
              }
            }
          },
          "variables": {
            "funcAppName": "[format('func-skills-ragi-{0}', take(parameters('suffix'), 8))]",
            "storageBlobDataContributorRoleId": "ba92f5b4-2d11-453d-a403-e96b0029c9fe",
            "storageQueueDataContributorRoleId": "974c5e8b-45b9-4653-ba55-5f855dd0fb88",
            "storageTableDataContributorRoleId": "0a9a7e1f-b9d0-4cc4-a60d-0319b160aaa3",
            "openaiUserRoleId": "5e0bd9bd-7b93-4f28-af87-19fc36ad61bd"
          },
          "resources": [
            {
              "type": "Microsoft.Web/sites",
              "apiVersion": "2023-12-01",
              "name": "[variables('funcAppName')]",
              "location": "[parameters('location')]",
              "kind": "functionapp,linux",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "serverFarmId": "[parameters('hostingPlanId')]",
                "httpsOnly": true,
                "virtualNetworkSubnetId": "[parameters('funcSubnetId')]",
                "siteConfig": {
                  "linuxFxVersion": "Python|3.11",
                  "appSettings": [
                    {
                      "name": "FUNCTIONS_EXTENSION_VERSION",
                      "value": "~4"
                    },
                    {
                      "name": "FUNCTIONS_WORKER_RUNTIME",
                      "value": "python"
                    },
                    {
                      "name": "AzureWebJobsStorage__accountName",
                      "value": "[parameters('storageAccountName')]"
                    },
                    {
                      "name": "AzureWebJobsStorage__credential",
                      "value": "managedidentity"
                    },
                    {
                      "name": "AZURE_OPENAI_ENDPOINT",
                      "value": "[parameters('openaiEndpoint')]"
                    },
                    {
                      "name": "AZURE_OPENAI_GPT54_DEPLOYMENT",
                      "value": "[parameters('gpt54Deployment')]"
                    },
                    {
                      "name": "AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT",
                      "value": "[parameters('docIntelligenceEndpoint')]"
                    }
                  ],
                  "cors": {
                    "allowedOrigins": [
                      "https://portal.azure.com"
                    ]
                  },
                  "minTlsVersion": "1.2"
                }
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('storageBlobDataContributorRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageBlobDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('storageQueueDataContributorRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageQueueDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('storageTableDataContributorRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageTableDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('aiServicesAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('openaiUserRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('openaiUserRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            }
          ],
          "outputs": {
            "funcAppName": {
              "type": "string",
              "value": "[variables('funcAppName')]"
            },
            "funcAppHostname": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01').defaultHostName]"
            },
            "funcAppId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
            },
            "funcAppPrincipalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]"
            },
            "skillsFunctionUrl": {
              "type": "string",
              "value": "[format('https://{0}', reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01').defaultHostName)]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('doc-intelligence-deployment-{0}', take(parameters('suffix'), 8)))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('function-crawler-deployment-{0}', take(parameters('suffix'), 8)))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('openai-deployment-{0}', take(parameters('suffix'), 8)))]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8)))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('vnet-deployment-{0}', take(parameters('suffix'), 8)))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "[format('logic-app-crawl-deployment-{0}', take(parameters('suffix'), 8))]",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          },
          "orchestratorUrl": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('function-crawler-consumption-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.orchestratorTriggerUrl.value]"
          },
          "crawlerLimit": {
            "value": "[parameters('crawlerLimit')]"
          },
          "detailWorkers": {
            "value": 20
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "6031371046613242490"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            },
            "orchestratorUrl": {
              "type": "string",
              "metadata": {
                "description": "Durable Functions HTTP starter URL (예: https://func-app/api/orchestrators/crawl_preprocess)"
              }
            },
            "crawlerLimit": {
              "type": "int",
              "defaultValue": 0,
              "metadata": {
                "description": "수집할 법령 페이지 수 (0 = 무제한)"
              }
            },
            "detailWorkers": {
              "type": "int",
              "defaultValue": 20,
              "metadata": {
                "description": "상세 페이지 병렬 워커 수 (단일 Activity 내) — Consumption 자동 스케일과 결합되어 동시성 ↑"
              }
            },
            "pollIntervalSeconds": {
              "type": "int",
              "defaultValue": 30,
              "metadata": {
                "description": "폴링 간격 (초)"
              }
            },
            "pollMaxDuration": {
              "type": "string",
              "defaultValue": "PT4H",
              "metadata": {
                "description": "최대 폴링 대기 시간 (ISO 8601 duration)"
              }
            },
            "pollMaxIterations": {
              "type": "int",
              "defaultValue": 480,
              "metadata": {
                "description": "최대 폴링 횟수 (Until loop 안전 상한)"
              }
            }
          },
          "variables": {
            "workflowName": "[format('logic-crawl-ragi-{0}', take(parameters('suffix'), 8))]"
          },
          "resources": [
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[variables('workflowName')]",
              "location": "[parameters('location')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {},
                  "triggers": {
                    "Daily_Schedule_Crawl_and_Preprocess": {
                      "type": "Recurrence",
                      "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "schedule": {
                          "hours": [
                            "21"
                          ],
                          "minutes": [
                            0
                          ]
                        },
                        "timeZone": "UTC"
                      },
                      "metadata": {
                        "description": "06:00 KST - Durable orchestrator (crawl + preprocess)"
                      }
                    }
                  },
                  "actions": {
                    "Initialize_Today_Date": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "crawlDate",
                            "type": "string",
                            "value": "@{formatDateTime(utcNow(), 'yyyy-MM-dd')}"
                          }
                        ]
                      },
                      "runAfter": {}
                    },
                    "Start_Orchestration": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "[parameters('orchestratorUrl')]",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "source": "all",
                          "max_pages": "[parameters('crawlerLimit')]",
                          "detail_workers": "[parameters('detailWorkers')]",
                          "triggered_by": "logic-app-durable",
                          "crawl_date": "@{variables('crawlDate')}",
                          "skip_preprocess": false
                        },
                        "retryPolicy": {
                          "type": "fixed",
                          "count": 3,
                          "interval": "PT30S"
                        }
                      },
                      "operationOptions": "DisableAsyncPattern",
                      "runAfter": {
                        "Initialize_Today_Date": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "description": "Durable Functions HTTP starter — returns 202 + statusQueryGetUri (async polling disabled)"
                      }
                    },
                    "Initialize_Status_Url": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "statusUrl",
                            "type": "string",
                            "value": "@{body('Start_Orchestration')?['statusQueryGetUri']}"
                          }
                        ]
                      },
                      "runAfter": {
                        "Start_Orchestration": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Initialize_Status_Body": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "orchestrationStatus",
                            "type": "object",
                            "value": {
                              "runtimeStatus": "Pending"
                            }
                          }
                        ]
                      },
                      "runAfter": {
                        "Initialize_Status_Url": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Until_Completed": {
                      "type": "Until",
                      "expression": "@contains(createArray('Completed','Failed','Terminated','Canceled'), variables('orchestrationStatus')?['runtimeStatus'])",
                      "limit": {
                        "count": "[parameters('pollMaxIterations')]",
                        "timeout": "[parameters('pollMaxDuration')]"
                      },
                      "actions": {
                        "Wait_Poll_Interval": {
                          "type": "Wait",
                          "inputs": {
                            "interval": {
                              "count": "[parameters('pollIntervalSeconds')]",
                              "unit": "Second"
                            }
                          },
                          "runAfter": {}
                        },
                        "Get_Orchestration_Status": {
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "@variables('statusUrl')"
                          },
                          "runAfter": {
                            "Wait_Poll_Interval": [
                              "Succeeded"
                            ]
                          }
                        },
                        "Update_Status": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "orchestrationStatus",
                            "value": "@body('Get_Orchestration_Status')"
                          },
                          "runAfter": {
                            "Get_Orchestration_Status": [
                              "Succeeded"
                            ]
                          }
                        }
                      },
                      "runAfter": {
                        "Initialize_Status_Body": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Log_Pipeline_Completion": {
                      "type": "Compose",
                      "inputs": {
                        "completedAt": "@{utcNow()}",
                        "crawlDate": "@{variables('crawlDate')}",
                        "runtimeStatus": "@{variables('orchestrationStatus')?['runtimeStatus']}",
                        "instanceId": "@{variables('orchestrationStatus')?['instanceId']}",
                        "createdTime": "@{variables('orchestrationStatus')?['createdTime']}",
                        "lastUpdatedTime": "@{variables('orchestrationStatus')?['lastUpdatedTime']}",
                        "output": "@variables('orchestrationStatus')?['output']"
                      },
                      "runAfter": {
                        "Until_Completed": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "description": "final pipeline result (Durable orchestrator output)"
                      }
                    },
                    "Check_Final_Status": {
                      "type": "If",
                      "expression": {
                        "not": {
                          "equals": [
                            "@variables('orchestrationStatus')?['runtimeStatus']",
                            "Completed"
                          ]
                        }
                      },
                      "actions": {
                        "Terminate_With_Failure": {
                          "type": "Terminate",
                          "inputs": {
                            "runStatus": "Failed",
                            "runError": {
                              "code": "OrchestrationFailed",
                              "message": "Durable orchestration ended with non-Completed status: @{variables('orchestrationStatus')?['runtimeStatus']}"
                            }
                          },
                          "runAfter": {}
                        }
                      },
                      "runAfter": {
                        "Log_Pipeline_Completion": [
                          "Succeeded"
                        ]
                      }
                    }
                  }
                }
              },
              "tags": {
                "project": "rag-indexing-lab",
                "workflow": "crawl-preprocess-workflow"
              }
            }
          ],
          "outputs": {
            "crawlWorkflowName": {
              "type": "string",
              "value": "[variables('workflowName')]"
            },
            "crawlWorkflowId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Logic/workflows', variables('workflowName'))]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('function-crawler-consumption-deployment-{0}', take(parameters('suffix'), 8)))]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "[format('foundry-hub-deployment-{0}', take(parameters('suffix'), 8))]",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          },
          "storageAccountId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.storageAccountId.value]"
          },
          "storageAccountName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.storageAccountName.value]"
          },
          "searchServiceId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('ai-search-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.searchServiceId.value]"
          },
          "searchServiceName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('ai-search-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.searchServiceName.value]"
          },
          "searchEndpoint": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('ai-search-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.endpoint.value]"
          },
          "aiServicesId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('openai-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.accountId.value]"
          },
          "aiServicesName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('openai-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.accountName.value]"
          },
          "aiServicesEndpoint": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('openai-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.endpoint.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "12659743509180535111"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            },
            "storageAccountId": {
              "type": "string",
              "metadata": {
                "description": "기존 Storage Account 리소스 ID"
              }
            },
            "storageAccountName": {
              "type": "string",
              "metadata": {
                "description": "기존 Storage Account 이름"
              }
            },
            "searchServiceId": {
              "type": "string",
              "metadata": {
                "description": "AI Search 서비스 리소스 ID"
              }
            },
            "searchServiceName": {
              "type": "string",
              "metadata": {
                "description": "AI Search 서비스 이름"
              }
            },
            "searchEndpoint": {
              "type": "string",
              "metadata": {
                "description": "AI Search 엔드포인트"
              }
            },
            "aiServicesId": {
              "type": "string",
              "metadata": {
                "description": "AI Services 리소스 ID"
              }
            },
            "aiServicesName": {
              "type": "string",
              "metadata": {
                "description": "AI Services 계정 이름"
              }
            },
            "aiServicesEndpoint": {
              "type": "string",
              "metadata": {
                "description": "AI Services 엔드포인트"
              }
            }
          },
          "variables": {
            "hubName": "[format('hub-ragi-{0}', take(parameters('suffix'), 8))]",
            "projectName": "[format('proj-ragi-{0}', take(parameters('suffix'), 8))]",
            "keyVaultName": "[format('kv-ragi-{0}', take(parameters('suffix'), 8))]"
          },
          "resources": [
            {
              "type": "Microsoft.KeyVault/vaults",
              "apiVersion": "2023-07-01",
              "name": "[variables('keyVaultName')]",
              "location": "[parameters('location')]",
              "properties": {
                "tenantId": "[subscription().tenantId]",
                "sku": {
                  "family": "A",
                  "name": "standard"
                },
                "enableRbacAuthorization": true,
                "enableSoftDelete": true,
                "softDeleteRetentionInDays": 7,
                "networkAcls": {
                  "defaultAction": "Allow",
                  "bypass": "AzureServices"
                }
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.MachineLearningServices/workspaces",
              "apiVersion": "2024-10-01",
              "name": "[variables('hubName')]",
              "location": "[parameters('location')]",
              "kind": "Hub",
              "sku": {
                "name": "Basic",
                "tier": "Basic"
              },
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "friendlyName": "RAG Indexing Lab Hub",
                "description": "Private AI Search 연결용 Azure AI Foundry Hub (BYO VNet)",
                "storageAccount": "[parameters('storageAccountId')]",
                "keyVault": "[resourceId('Microsoft.KeyVault/vaults', variables('keyVaultName'))]",
                "publicNetworkAccess": "Enabled"
              },
              "tags": {
                "project": "rag-indexing-lab"
              },
              "dependsOn": [
                "[resourceId('Microsoft.KeyVault/vaults', variables('keyVaultName'))]"
              ]
            },
            {
              "type": "Microsoft.MachineLearningServices/workspaces",
              "apiVersion": "2024-10-01",
              "name": "[variables('projectName')]",
              "location": "[parameters('location')]",
              "kind": "Project",
              "sku": {
                "name": "Basic",
                "tier": "Basic"
              },
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "friendlyName": "RAG Indexing Lab Project",
                "hubResourceId": "[resourceId('Microsoft.MachineLearningServices/workspaces', variables('hubName'))]",
                "publicNetworkAccess": "Enabled"
              },
              "tags": {
                "project": "rag-indexing-lab"
              },
              "dependsOn": [
                "[resourceId('Microsoft.MachineLearningServices/workspaces', variables('hubName'))]"
              ]
            },
            {
              "type": "Microsoft.MachineLearningServices/workspaces/connections",
              "apiVersion": "2024-10-01",
              "name": "[format('{0}/{1}', variables('hubName'), 'aisearch')]",
              "properties": {
                "category": "CognitiveSearch",
                "target": "[parameters('searchEndpoint')]",
                "authType": "AAD",
                "metadata": {
                  "ApiType": "azure",
                  "ApiVersion": "2024-07-01",
                  "ResourceId": "[parameters('searchServiceId')]"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.MachineLearningServices/workspaces', variables('hubName'))]"
              ]
            },
            {
              "type": "Microsoft.MachineLearningServices/workspaces/connections",
              "apiVersion": "2024-10-01",
              "name": "[format('{0}/{1}', variables('hubName'), 'aiservices')]",
              "properties": {
                "category": "AzureOpenAI",
                "target": "[parameters('aiServicesEndpoint')]",
                "authType": "AAD",
                "metadata": {
                  "ApiType": "azure",
                  "ApiVersion": "2024-10-01",
                  "ResourceId": "[parameters('aiServicesId')]"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.MachineLearningServices/workspaces', variables('hubName'))]"
              ]
            }
          ],
          "outputs": {
            "hubId": {
              "type": "string",
              "value": "[resourceId('Microsoft.MachineLearningServices/workspaces', variables('hubName'))]"
            },
            "hubName": {
              "type": "string",
              "value": "[variables('hubName')]"
            },
            "hubPrincipalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.MachineLearningServices/workspaces', variables('hubName')), '2024-10-01', 'full').identity.principalId]"
            },
            "projectName": {
              "type": "string",
              "value": "[variables('projectName')]"
            },
            "keyVaultId": {
              "type": "string",
              "value": "[resourceId('Microsoft.KeyVault/vaults', variables('keyVaultName'))]"
            },
            "keyVaultName": {
              "type": "string",
              "value": "[variables('keyVaultName')]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('ai-search-deployment-{0}', take(parameters('suffix'), 8)))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('openai-deployment-{0}', take(parameters('suffix'), 8)))]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8)))]"
      ]
    }
  ],
  "outputs": {
    "resourceGroupName": {
      "type": "string",
      "value": "[parameters('resourceGroupName')]"
    },
    "location": {
      "type": "string",
      "value": "[parameters('location')]"
    },
    "vnetName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('vnet-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.vnetName.value]"
    },
    "storageAccountName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.storageAccountName.value]"
    },
    "storageAccountBlobEndpoint": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('storage-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.blobEndpoint.value]"
    },
    "openaiEndpoint": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('openai-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.endpoint.value]"
    },
    "openaiAccountName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('openai-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.accountName.value]"
    },
    "gptDeploymentName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('openai-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.gptDeploymentName.value]"
    },
    "aiSearchEndpoint": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('ai-search-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.endpoint.value]"
    },
    "aiSearchName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('ai-search-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.searchServiceName.value]"
    },
    "docIntelligenceEndpoint": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('doc-intelligence-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.endpoint.value]"
    },
    "aiSearchPrincipalId": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('ai-search-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.searchServicePrincipalId.value]"
    },
    "crawlFunctionUrl": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('function-crawler-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.crawlTriggerUrl.value]"
    },
    "preprocessFunctionUrl": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('function-preprocess-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.preprocessTriggerUrl.value]"
    },
    "crawlFunctionName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('function-crawler-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.funcAppName.value]"
    },
    "preprocessFunctionName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('function-preprocess-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.funcAppName.value]"
    },
    "skillsFunctionName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('function-skills-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.funcAppName.value]"
    },
    "crawlConsFunctionName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('function-crawler-consumption-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.funcAppName.value]"
    },
    "skillsFunctionUrl": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('function-skills-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.skillsFunctionUrl.value]"
    },
    "crawlLogicAppName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('logic-app-crawl-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.crawlWorkflowName.value]"
    },
    "foundryHubName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('foundry-hub-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.hubName.value]"
    },
    "foundryProjectName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('foundry-hub-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.projectName.value]"
    },
    "foundryProjectEndpoint": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('openai-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.foundryProjectEndpoint.value]"
    },
    "foundryKeyVaultName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', format('foundry-hub-deployment-{0}', take(parameters('suffix'), 8))), '2025-04-01').outputs.keyVaultName.value]"
    }
  }
}