infra/korea/main.json
{
  "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.43.8.12551",
      "templateHash": "17928891817572499094"
    }
  },
  "parameters": {
    "resourceGroupName": {
      "type": "string",
      "defaultValue": "rg-rag-indexing-lab-krc",
      "metadata": {
        "description": "메인 리소스 그룹 이름 (Korea Central)"
      }
    },
    "docIntelResourceGroupName": {
      "type": "string",
      "defaultValue": "rg-rag-indexing-lab-eus2",
      "metadata": {
        "description": "Doc Intelligence 리소스 그룹 (East US 2)"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "koreacentral",
      "metadata": {
        "description": "메인 배포 리전 - Korea Central"
      }
    },
    "docIntelLocation": {
      "type": "string",
      "defaultValue": "eastus2",
      "metadata": {
        "description": "Doc Intelligence 배포 리전 - East US 2 (한국 미지원)"
      }
    },
    "suffix": {
      "type": "string",
      "defaultValue": "[uniqueString(subscription().subscriptionId, parameters('resourceGroupName'))]",
      "metadata": {
        "description": "리소스 이름 접미사 (고유성 보장)"
      }
    },
    "embeddingDeploymentName": {
      "type": "string",
      "defaultValue": "text-embedding-3-large",
      "metadata": {
        "description": "Azure OpenAI embedding 모델 배포명"
      }
    },
    "gptDeploymentName": {
      "type": "string",
      "defaultValue": "gpt-5.4",
      "metadata": {
        "description": "Azure OpenAI GPT-5.4 모델 배포명"
      }
    },
    "gptModelVersion": {
      "type": "string",
      "metadata": {
        "description": "GPT 모델 버전"
      }
    },
    "gptModelName": {
      "type": "string",
      "defaultValue": "gpt-5.4",
      "metadata": {
        "description": "GPT 모델 이름 (GlobalStandard)"
      }
    },
    "searchSku": {
      "type": "string",
      "defaultValue": "standard",
      "allowedValues": [
        "basic",
        "standard",
        "standard2"
      ],
      "metadata": {
        "description": "AI Search SKU"
      }
    },
    "blobContainerName": {
      "type": "string",
      "defaultValue": "raw-documents",
      "metadata": {
        "description": "Storage Account 컨테이너 이름"
      }
    },
    "crawlerLimit": {
      "type": "int",
      "defaultValue": 10,
      "metadata": {
        "description": "크롤러가 수집할 법령 건수"
      }
    },
    "jumpvmAdminUsername": {
      "type": "string",
      "defaultValue": "azureadmin",
      "metadata": {
        "description": "JumpVM 관리자 계정명"
      }
    },
    "jumpvmAdminPassword": {
      "type": "securestring",
      "metadata": {
        "description": "JumpVM 관리자 비밀번호"
      }
    },
    "jumpvmEntraUserObjectIds": {
      "type": "array",
      "defaultValue": [],
      "metadata": {
        "description": "JumpVM Entra ID 로그인을 허용할 사용자 Object ID 목록"
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.Resources/resourceGroups",
      "apiVersion": "2024-03-01",
      "name": "[parameters('resourceGroupName')]",
      "location": "[parameters('location')]",
      "tags": {
        "project": "rag-indexing-lab",
        "environment": "lab",
        "region": "koreacentral",
        "version": "v2"
      }
    },
    {
      "type": "Microsoft.Resources/resourceGroups",
      "apiVersion": "2024-03-01",
      "name": "[parameters('docIntelResourceGroupName')]",
      "location": "[parameters('docIntelLocation')]",
      "tags": {
        "project": "rag-indexing-lab",
        "environment": "lab",
        "region": "eastus2",
        "purpose": "doc-intelligence-only",
        "version": "v2"
      }
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "vnet-deployment",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "16464382480178098989"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            }
          },
          "variables": {
            "vnetName": "[format('vnet-ragi-{0}', take(parameters('suffix'), 8))]",
            "nsgName": "[format('nsg-pep-ragi-{0}', take(parameters('suffix'), 8))]",
            "jumpSubnetName": "snet-jump",
            "pepSubnetName": "snet-pep",
            "funcSubnetName": "snet-func"
          },
          "resources": [
            {
              "type": "Microsoft.Network/networkSecurityGroups",
              "apiVersion": "2024-01-01",
              "name": "[variables('nsgName')]",
              "location": "[parameters('location')]",
              "properties": {
                "securityRules": []
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Network/virtualNetworks",
              "apiVersion": "2024-01-01",
              "name": "[variables('vnetName')]",
              "location": "[parameters('location')]",
              "properties": {
                "addressSpace": {
                  "addressPrefixes": [
                    "10.0.0.0/16"
                  ]
                },
                "subnets": [
                  {
                    "name": "[variables('jumpSubnetName')]",
                    "properties": {
                      "addressPrefix": "10.0.0.0/24"
                    }
                  },
                  {
                    "name": "[variables('pepSubnetName')]",
                    "properties": {
                      "addressPrefix": "10.0.1.0/24",
                      "networkSecurityGroup": {
                        "id": "[resourceId('Microsoft.Network/networkSecurityGroups', variables('nsgName'))]"
                      },
                      "privateEndpointNetworkPolicies": "Disabled",
                      "privateLinkServiceNetworkPolicies": "Disabled"
                    }
                  },
                  {
                    "name": "[variables('funcSubnetName')]",
                    "properties": {
                      "addressPrefix": "10.0.2.0/24",
                      "delegations": [
                        {
                          "name": "delegation-func",
                          "properties": {
                            "serviceName": "Microsoft.Web/serverFarms"
                          }
                        }
                      ]
                    }
                  }
                ]
              },
              "tags": {
                "project": "rag-indexing-lab"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/networkSecurityGroups', variables('nsgName'))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateDnsZones",
              "apiVersion": "2020-06-01",
              "name": "privatelink.blob.core.windows.net",
              "location": "global",
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Network/privateDnsZones/virtualNetworkLinks",
              "apiVersion": "2020-06-01",
              "name": "[format('{0}/{1}', 'privatelink.blob.core.windows.net', format('link-blob-{0}', take(parameters('suffix'), 8)))]",
              "location": "global",
              "properties": {
                "virtualNetwork": {
                  "id": "[resourceId('Microsoft.Network/virtualNetworks', variables('vnetName'))]"
                },
                "registrationEnabled": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.blob.core.windows.net')]",
                "[resourceId('Microsoft.Network/virtualNetworks', variables('vnetName'))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateDnsZones",
              "apiVersion": "2020-06-01",
              "name": "privatelink.search.windows.net",
              "location": "global",
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Network/privateDnsZones/virtualNetworkLinks",
              "apiVersion": "2020-06-01",
              "name": "[format('{0}/{1}', 'privatelink.search.windows.net', format('link-search-{0}', take(parameters('suffix'), 8)))]",
              "location": "global",
              "properties": {
                "virtualNetwork": {
                  "id": "[resourceId('Microsoft.Network/virtualNetworks', variables('vnetName'))]"
                },
                "registrationEnabled": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.search.windows.net')]",
                "[resourceId('Microsoft.Network/virtualNetworks', variables('vnetName'))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateDnsZones",
              "apiVersion": "2020-06-01",
              "name": "privatelink.cognitiveservices.azure.com",
              "location": "global",
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Network/privateDnsZones/virtualNetworkLinks",
              "apiVersion": "2020-06-01",
              "name": "[format('{0}/{1}', 'privatelink.cognitiveservices.azure.com', format('link-cog-{0}', take(parameters('suffix'), 8)))]",
              "location": "global",
              "properties": {
                "virtualNetwork": {
                  "id": "[resourceId('Microsoft.Network/virtualNetworks', variables('vnetName'))]"
                },
                "registrationEnabled": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.cognitiveservices.azure.com')]",
                "[resourceId('Microsoft.Network/virtualNetworks', variables('vnetName'))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateDnsZones",
              "apiVersion": "2020-06-01",
              "name": "privatelink.openai.azure.com",
              "location": "global",
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Network/privateDnsZones/virtualNetworkLinks",
              "apiVersion": "2020-06-01",
              "name": "[format('{0}/{1}', 'privatelink.openai.azure.com', format('link-openai-{0}', take(parameters('suffix'), 8)))]",
              "location": "global",
              "properties": {
                "virtualNetwork": {
                  "id": "[resourceId('Microsoft.Network/virtualNetworks', variables('vnetName'))]"
                },
                "registrationEnabled": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.openai.azure.com')]",
                "[resourceId('Microsoft.Network/virtualNetworks', variables('vnetName'))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateDnsZones",
              "apiVersion": "2020-06-01",
              "name": "privatelink.api.azureml.ms",
              "location": "global",
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Network/privateDnsZones/virtualNetworkLinks",
              "apiVersion": "2020-06-01",
              "name": "[format('{0}/{1}', 'privatelink.api.azureml.ms', format('link-azureml-{0}', take(parameters('suffix'), 8)))]",
              "location": "global",
              "properties": {
                "virtualNetwork": {
                  "id": "[resourceId('Microsoft.Network/virtualNetworks', variables('vnetName'))]"
                },
                "registrationEnabled": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.api.azureml.ms')]",
                "[resourceId('Microsoft.Network/virtualNetworks', variables('vnetName'))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateDnsZones",
              "apiVersion": "2020-06-01",
              "name": "privatelink.notebooks.azure.net",
              "location": "global",
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Network/privateDnsZones/virtualNetworkLinks",
              "apiVersion": "2020-06-01",
              "name": "[format('{0}/{1}', 'privatelink.notebooks.azure.net', format('link-notebooks-{0}', take(parameters('suffix'), 8)))]",
              "location": "global",
              "properties": {
                "virtualNetwork": {
                  "id": "[resourceId('Microsoft.Network/virtualNetworks', variables('vnetName'))]"
                },
                "registrationEnabled": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.notebooks.azure.net')]",
                "[resourceId('Microsoft.Network/virtualNetworks', variables('vnetName'))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateDnsZones",
              "apiVersion": "2020-06-01",
              "name": "privatelink.vaultcore.azure.net",
              "location": "global",
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Network/privateDnsZones/virtualNetworkLinks",
              "apiVersion": "2020-06-01",
              "name": "[format('{0}/{1}', 'privatelink.vaultcore.azure.net', format('link-vault-{0}', take(parameters('suffix'), 8)))]",
              "location": "global",
              "properties": {
                "virtualNetwork": {
                  "id": "[resourceId('Microsoft.Network/virtualNetworks', variables('vnetName'))]"
                },
                "registrationEnabled": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.vaultcore.azure.net')]",
                "[resourceId('Microsoft.Network/virtualNetworks', variables('vnetName'))]"
              ]
            }
          ],
          "outputs": {
            "vnetId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Network/virtualNetworks', variables('vnetName'))]"
            },
            "vnetName": {
              "type": "string",
              "value": "[variables('vnetName')]"
            },
            "pepSubnetId": {
              "type": "string",
              "value": "[format('{0}/subnets/{1}', resourceId('Microsoft.Network/virtualNetworks', variables('vnetName')), variables('pepSubnetName'))]"
            },
            "funcSubnetId": {
              "type": "string",
              "value": "[format('{0}/subnets/{1}', resourceId('Microsoft.Network/virtualNetworks', variables('vnetName')), variables('funcSubnetName'))]"
            },
            "jumpSubnetId": {
              "type": "string",
              "value": "[format('{0}/subnets/{1}', resourceId('Microsoft.Network/virtualNetworks', variables('vnetName')), variables('jumpSubnetName'))]"
            },
            "blobDnsZoneId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.blob.core.windows.net')]"
            },
            "searchDnsZoneId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.search.windows.net')]"
            },
            "cogServicesDnsZoneId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.cognitiveservices.azure.com')]"
            },
            "openaiDnsZoneId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.openai.azure.com')]"
            },
            "azuremlDnsZoneId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.api.azureml.ms')]"
            },
            "notebooksDnsZoneId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.notebooks.azure.net')]"
            },
            "vaultDnsZoneId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.vaultcore.azure.net')]"
            }
          }
        }
      },
      "dependsOn": [
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "storage-deployment",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          },
          "containerName": {
            "value": "[parameters('blobContainerName')]"
          },
          "userObjectIds": {
            "value": "[parameters('jumpvmEntraUserObjectIds')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "16287627993364987067"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            },
            "containerName": {
              "type": "string",
              "defaultValue": "raw-documents",
              "metadata": {
                "description": "Blob 컨테이너 이름"
              }
            },
            "userObjectIds": {
              "type": "array",
              "defaultValue": [],
              "metadata": {
                "description": "Storage Data 역할을 부여할 Entra ID 사용자 Object ID 배열"
              }
            }
          },
          "variables": {
            "storageAccountName": "[format('stragi{0}', take(parameters('suffix'), 10))]"
          },
          "resources": [
            {
              "type": "Microsoft.Storage/storageAccounts",
              "apiVersion": "2023-05-01",
              "name": "[variables('storageAccountName')]",
              "location": "[parameters('location')]",
              "kind": "StorageV2",
              "sku": {
                "name": "Standard_LRS"
              },
              "properties": {
                "accessTier": "Hot",
                "supportsHttpsTrafficOnly": true,
                "minimumTlsVersion": "TLS1_2",
                "allowBlobPublicAccess": false,
                "allowSharedKeyAccess": false,
                "publicNetworkAccess": "Disabled",
                "networkAcls": {
                  "bypass": "AzureServices",
                  "defaultAction": "Deny"
                }
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Storage/storageAccounts/blobServices",
              "apiVersion": "2023-05-01",
              "name": "[format('{0}/{1}', variables('storageAccountName'), 'default')]",
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
              ]
            },
            {
              "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
              "apiVersion": "2023-05-01",
              "name": "[format('{0}/{1}/{2}', variables('storageAccountName'), 'default', parameters('containerName'))]",
              "properties": {
                "publicAccess": "None"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', variables('storageAccountName'), 'default')]"
              ]
            },
            {
              "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
              "apiVersion": "2023-05-01",
              "name": "[format('{0}/{1}/{2}', variables('storageAccountName'), 'default', 'processed-documents')]",
              "properties": {
                "publicAccess": "None"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', variables('storageAccountName'), 'default')]"
              ]
            },
            {
              "copy": {
                "name": "blobRbac",
                "count": "[length(parameters('userObjectIds'))]"
              },
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]",
              "name": "[guid(resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName')), parameters('userObjectIds')[copyIndex()], 'ba92f5b4-2d11-453d-a403-e96b0029c9fe')]",
              "properties": {
                "principalId": "[parameters('userObjectIds')[copyIndex()]]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'ba92f5b4-2d11-453d-a403-e96b0029c9fe')]",
                "principalType": "User"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
              ]
            },
            {
              "copy": {
                "name": "queueRbac",
                "count": "[length(parameters('userObjectIds'))]"
              },
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]",
              "name": "[guid(resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName')), parameters('userObjectIds')[copyIndex()], '974c5e8b-45b9-4653-ba55-5f855dd0fb88')]",
              "properties": {
                "principalId": "[parameters('userObjectIds')[copyIndex()]]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '974c5e8b-45b9-4653-ba55-5f855dd0fb88')]",
                "principalType": "User"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
              ]
            },
            {
              "copy": {
                "name": "tableRbac",
                "count": "[length(parameters('userObjectIds'))]"
              },
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]",
              "name": "[guid(resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName')), parameters('userObjectIds')[copyIndex()], '0a9a7e1f-b9d0-4cc4-a60d-0319b160aaa3')]",
              "properties": {
                "principalId": "[parameters('userObjectIds')[copyIndex()]]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '0a9a7e1f-b9d0-4cc4-a60d-0319b160aaa3')]",
                "principalType": "User"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
              ]
            }
          ],
          "outputs": {
            "storageAccountName": {
              "type": "string",
              "value": "[variables('storageAccountName')]"
            },
            "storageAccountId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
            },
            "blobEndpoint": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName')), '2023-05-01').primaryEndpoints.blob]"
            }
          }
        }
      },
      "dependsOn": [
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "openai-deployment",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          },
          "embeddingDeploymentName": {
            "value": "[parameters('embeddingDeploymentName')]"
          },
          "gptDeploymentName": {
            "value": "[parameters('gptDeploymentName')]"
          },
          "gptModelName": {
            "value": "[parameters('gptModelName')]"
          },
          "gptModelVersion": {
            "value": "[parameters('gptModelVersion')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "1317688263324238878"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            },
            "embeddingDeploymentName": {
              "type": "string",
              "defaultValue": "text-embedding-3-large",
              "metadata": {
                "description": "Embedding 모델 배포명"
              }
            },
            "gptDeploymentName": {
              "type": "string",
              "defaultValue": "gpt-5.4",
              "metadata": {
                "description": "GPT-5.4 모델 배포명"
              }
            },
            "gptModelName": {
              "type": "string",
              "defaultValue": "gpt-5.4",
              "metadata": {
                "description": "GPT 모델 이름"
              }
            },
            "gptModelVersion": {
              "type": "string",
              "metadata": {
                "description": "GPT 모델 버전"
              }
            }
          },
          "variables": {
            "accountName": "[format('ais-ragi-{0}', take(parameters('suffix'), 8))]"
          },
          "resources": [
            {
              "type": "Microsoft.CognitiveServices/accounts",
              "apiVersion": "2024-10-01",
              "name": "[variables('accountName')]",
              "location": "[parameters('location')]",
              "kind": "AIServices",
              "sku": {
                "name": "S0"
              },
              "properties": {
                "customSubDomainName": "[variables('accountName')]",
                "publicNetworkAccess": "Disabled",
                "networkAcls": {
                  "defaultAction": "Deny"
                }
              },
              "tags": {
                "project": "rag-indexing-lab",
                "region": "koreacentral"
              }
            },
            {
              "type": "Microsoft.CognitiveServices/accounts/deployments",
              "apiVersion": "2024-10-01",
              "name": "[format('{0}/{1}', variables('accountName'), parameters('embeddingDeploymentName'))]",
              "sku": {
                "name": "Standard",
                "capacity": 120
              },
              "properties": {
                "model": {
                  "format": "OpenAI",
                  "name": "text-embedding-3-large",
                  "version": "1"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.CognitiveServices/accounts', variables('accountName'))]"
              ]
            },
            {
              "type": "Microsoft.CognitiveServices/accounts/deployments",
              "apiVersion": "2024-10-01",
              "name": "[format('{0}/{1}', variables('accountName'), parameters('gptDeploymentName'))]",
              "sku": {
                "name": "GlobalStandard",
                "capacity": 30
              },
              "properties": {
                "model": {
                  "format": "OpenAI",
                  "name": "[parameters('gptModelName')]",
                  "version": "[parameters('gptModelVersion')]"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.CognitiveServices/accounts/deployments', variables('accountName'), parameters('embeddingDeploymentName'))]",
                "[resourceId('Microsoft.CognitiveServices/accounts', variables('accountName'))]"
              ]
            }
          ],
          "outputs": {
            "endpoint": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.CognitiveServices/accounts', variables('accountName')), '2024-10-01').endpoint]"
            },
            "accountName": {
              "type": "string",
              "value": "[variables('accountName')]"
            },
            "accountId": {
              "type": "string",
              "value": "[resourceId('Microsoft.CognitiveServices/accounts', variables('accountName'))]"
            },
            "gptDeploymentName": {
              "type": "string",
              "value": "[parameters('gptDeploymentName')]"
            }
          }
        }
      },
      "dependsOn": [
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "doc-intelligence-deployment",
      "resourceGroup": "[parameters('docIntelResourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('docIntelLocation')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "11155487593660314867"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전 (East US 2)"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            }
          },
          "variables": {
            "docIntelName": "[format('di-ragi-{0}', take(parameters('suffix'), 8))]"
          },
          "resources": [
            {
              "type": "Microsoft.CognitiveServices/accounts",
              "apiVersion": "2024-10-01",
              "name": "[variables('docIntelName')]",
              "location": "[parameters('location')]",
              "kind": "FormRecognizer",
              "sku": {
                "name": "S0"
              },
              "properties": {
                "customSubDomainName": "[variables('docIntelName')]",
                "publicNetworkAccess": "Disabled",
                "networkAcls": {
                  "defaultAction": "Deny"
                }
              },
              "tags": {
                "project": "rag-indexing-lab",
                "region": "eastus2",
                "purpose": "cross-region-doc-intelligence"
              }
            }
          ],
          "outputs": {
            "endpoint": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.CognitiveServices/accounts', variables('docIntelName')), '2024-10-01').endpoint]"
            },
            "docIntelligenceName": {
              "type": "string",
              "value": "[variables('docIntelName')]"
            },
            "docIntelligenceId": {
              "type": "string",
              "value": "[resourceId('Microsoft.CognitiveServices/accounts', variables('docIntelName'))]"
            }
          }
        }
      },
      "dependsOn": [
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('docIntelResourceGroupName'))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "ai-search-deployment",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          },
          "sku": {
            "value": "[parameters('searchSku')]"
          },
          "storageAccountId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'storage-deployment'), '2025-04-01').outputs.storageAccountId.value]"
          },
          "aiServicesId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'openai-deployment'), '2025-04-01').outputs.accountId.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "22141203888242243"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            },
            "sku": {
              "type": "string",
              "defaultValue": "basic",
              "allowedValues": [
                "basic",
                "standard",
                "standard2"
              ],
              "metadata": {
                "description": "AI Search SKU"
              }
            },
            "storageAccountId": {
              "type": "string",
              "metadata": {
                "description": "Storage Account 리소스 ID (RBAC용)"
              }
            },
            "aiServicesId": {
              "type": "string",
              "metadata": {
                "description": "AI Services 리소스 ID (RBAC용)"
              }
            }
          },
          "variables": {
            "searchServiceName": "[format('search-ragi-{0}', take(parameters('suffix'), 8))]",
            "storageBlobDataReaderRoleId": "2a2b9908-6ea1-4ae2-8e65-a410df84e7d1",
            "cognitiveServicesUserRoleId": "a97b65f3-24c7-4388-baec-2e87135dc908"
          },
          "resources": [
            {
              "type": "Microsoft.Search/searchServices",
              "apiVersion": "2024-06-01-preview",
              "name": "[variables('searchServiceName')]",
              "location": "[parameters('location')]",
              "sku": {
                "name": "[parameters('sku')]"
              },
              "properties": {
                "replicaCount": 1,
                "partitionCount": 1,
                "hostingMode": "default",
                "publicNetworkAccess": "disabled",
                "semanticSearch": "standard"
              },
              "identity": {
                "type": "SystemAssigned"
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Search/searchServices', variables('searchServiceName')), variables('storageBlobDataReaderRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Search/searchServices', variables('searchServiceName')), '2024-06-01-preview', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageBlobDataReaderRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Search/searchServices', variables('searchServiceName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('aiServicesId'), resourceId('Microsoft.Search/searchServices', variables('searchServiceName')), variables('cognitiveServicesUserRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Search/searchServices', variables('searchServiceName')), '2024-06-01-preview', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('cognitiveServicesUserRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Search/searchServices', variables('searchServiceName'))]"
              ]
            }
          ],
          "outputs": {
            "endpoint": {
              "type": "string",
              "value": "[format('https://{0}.search.windows.net', variables('searchServiceName'))]"
            },
            "searchServiceName": {
              "type": "string",
              "value": "[variables('searchServiceName')]"
            },
            "searchServiceId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Search/searchServices', variables('searchServiceName'))]"
            },
            "searchServicePrincipalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Search/searchServices', variables('searchServiceName')), '2024-06-01-preview', 'full').identity.principalId]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'openai-deployment')]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'storage-deployment')]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "function-crawler-deployment",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          },
          "funcSubnetId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'vnet-deployment'), '2025-04-01').outputs.funcSubnetId.value]"
          },
          "storageAccountName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'storage-deployment'), '2025-04-01').outputs.storageAccountName.value]"
          },
          "storageAccountId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'storage-deployment'), '2025-04-01').outputs.storageAccountId.value]"
          },
          "blobContainerName": {
            "value": "[parameters('blobContainerName')]"
          },
          "crawlerLimit": {
            "value": "[parameters('crawlerLimit')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "498288163301175562"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            },
            "funcSubnetId": {
              "type": "string",
              "metadata": {
                "description": "Function App VNet integration 서브넷 ID (snet-func)"
              }
            },
            "storageAccountName": {
              "type": "string",
              "metadata": {
                "description": "Storage Account 이름 (크롤러가 업로드할 대상)"
              }
            },
            "storageAccountId": {
              "type": "string",
              "metadata": {
                "description": "Storage Account ID (RBAC용)"
              }
            },
            "blobContainerName": {
              "type": "string",
              "defaultValue": "raw-documents",
              "metadata": {
                "description": "Blob 컨테이너 이름"
              }
            },
            "crawlerLimit": {
              "type": "int",
              "defaultValue": 10,
              "metadata": {
                "description": "크롤러가 수집할 법령 건수"
              }
            }
          },
          "variables": {
            "planName": "[format('asp-crawl-ragi-{0}', take(parameters('suffix'), 8))]",
            "funcAppName": "[format('func-crawl-ragi-{0}', take(parameters('suffix'), 8))]",
            "storageBlobDataContributorRoleId": "ba92f5b4-2d11-453d-a403-e96b0029c9fe",
            "storageQueueDataContributorRoleId": "974c5e8b-45b9-4653-ba55-5f855dd0fb88",
            "storageTableDataContributorRoleId": "0a9a7e1f-b9d0-4cc4-a60d-0319b160aaa3"
          },
          "resources": [
            {
              "type": "Microsoft.Web/serverfarms",
              "apiVersion": "2023-12-01",
              "name": "[variables('planName')]",
              "location": "[parameters('location')]",
              "sku": {
                "name": "EP1",
                "tier": "ElasticPremium"
              },
              "kind": "elastic",
              "properties": {
                "reserved": true,
                "maximumElasticWorkerCount": 5
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Web/sites",
              "apiVersion": "2023-12-01",
              "name": "[variables('funcAppName')]",
              "location": "[parameters('location')]",
              "kind": "functionapp,linux",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', variables('planName'))]",
                "httpsOnly": true,
                "virtualNetworkSubnetId": "[parameters('funcSubnetId')]",
                "siteConfig": {
                  "linuxFxVersion": "Python|3.11",
                  "appSettings": [
                    {
                      "name": "FUNCTIONS_EXTENSION_VERSION",
                      "value": "~4"
                    },
                    {
                      "name": "FUNCTIONS_WORKER_RUNTIME",
                      "value": "python"
                    },
                    {
                      "name": "AzureWebJobsStorage__accountName",
                      "value": "[parameters('storageAccountName')]"
                    },
                    {
                      "name": "AzureWebJobsStorage__credential",
                      "value": "managedidentity"
                    },
                    {
                      "name": "AZURE_STORAGE_ACCOUNT_NAME",
                      "value": "[parameters('storageAccountName')]"
                    },
                    {
                      "name": "AZURE_BLOB_CONTAINER_NAME",
                      "value": "[parameters('blobContainerName')]"
                    },
                    {
                      "name": "CRAWLER_LIMIT",
                      "value": "[string(parameters('crawlerLimit'))]"
                    }
                  ],
                  "cors": {
                    "allowedOrigins": [
                      "https://portal.azure.com"
                    ]
                  },
                  "minTlsVersion": "1.2"
                }
              },
              "tags": {
                "project": "rag-indexing-lab"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/serverfarms', variables('planName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('storageBlobDataContributorRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageBlobDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('storageQueueDataContributorRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageQueueDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('storageTableDataContributorRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageTableDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            }
          ],
          "outputs": {
            "funcAppName": {
              "type": "string",
              "value": "[variables('funcAppName')]"
            },
            "funcAppHostname": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01').defaultHostName]"
            },
            "funcAppId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
            },
            "funcAppPrincipalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]"
            },
            "hostingPlanId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Web/serverfarms', variables('planName'))]"
            },
            "crawlTriggerUrl": {
              "type": "string",
              "value": "[format('https://{0}/api/crawl', reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01').defaultHostName)]"
            }
          }
        }
      },
      "dependsOn": [
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'storage-deployment')]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'vnet-deployment')]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "function-preprocess-deployment",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          },
          "funcSubnetId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'vnet-deployment'), '2025-04-01').outputs.funcSubnetId.value]"
          },
          "hostingPlanId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'function-crawler-deployment'), '2025-04-01').outputs.hostingPlanId.value]"
          },
          "storageAccountName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'storage-deployment'), '2025-04-01').outputs.storageAccountName.value]"
          },
          "storageAccountId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'storage-deployment'), '2025-04-01').outputs.storageAccountId.value]"
          },
          "rawContainerName": {
            "value": "[parameters('blobContainerName')]"
          },
          "processedContainerName": {
            "value": "processed-documents"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "7461962881324859968"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            },
            "funcSubnetId": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "Function App VNet integration 서브넷 ID (snet-func). 비워두면 VNet integration 미설정 (배포 후 az CLI로 추가)"
              }
            },
            "hostingPlanId": {
              "type": "string",
              "metadata": {
                "description": "공유 Elastic Premium 플랜 ID (function-crawler.bicep 의 asp-crawl 플랜)"
              }
            },
            "storageAccountName": {
              "type": "string",
              "metadata": {
                "description": "Storage Account 이름"
              }
            },
            "storageAccountId": {
              "type": "string",
              "metadata": {
                "description": "Storage Account ID (RBAC용)"
              }
            },
            "rawContainerName": {
              "type": "string",
              "defaultValue": "raw-documents",
              "metadata": {
                "description": "Raw JSON 컨테이너 이름"
              }
            },
            "processedContainerName": {
              "type": "string",
              "defaultValue": "processed-documents",
              "metadata": {
                "description": "Processed JSONL 컨테이너 이름"
              }
            }
          },
          "variables": {
            "funcAppName": "[format('func-preprocess-ragi-{0}', take(parameters('suffix'), 8))]",
            "storageBlobDataContributorRoleId": "ba92f5b4-2d11-453d-a403-e96b0029c9fe",
            "storageQueueDataContributorRoleId": "974c5e8b-45b9-4653-ba55-5f855dd0fb88",
            "storageTableDataContributorRoleId": "0a9a7e1f-b9d0-4cc4-a60d-0319b160aaa3"
          },
          "resources": [
            {
              "type": "Microsoft.Web/sites",
              "apiVersion": "2023-12-01",
              "name": "[variables('funcAppName')]",
              "location": "[parameters('location')]",
              "kind": "functionapp,linux",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "serverFarmId": "[parameters('hostingPlanId')]",
                "httpsOnly": true,
                "virtualNetworkSubnetId": "[if(empty(parameters('funcSubnetId')), null(), parameters('funcSubnetId'))]",
                "siteConfig": {
                  "linuxFxVersion": "Python|3.11",
                  "appSettings": [
                    {
                      "name": "FUNCTIONS_EXTENSION_VERSION",
                      "value": "~4"
                    },
                    {
                      "name": "FUNCTIONS_WORKER_RUNTIME",
                      "value": "python"
                    },
                    {
                      "name": "AzureWebJobsStorage__accountName",
                      "value": "[parameters('storageAccountName')]"
                    },
                    {
                      "name": "AzureWebJobsStorage__credential",
                      "value": "managedidentity"
                    },
                    {
                      "name": "AZURE_STORAGE_ACCOUNT_NAME",
                      "value": "[parameters('storageAccountName')]"
                    },
                    {
                      "name": "AZURE_BLOB_CONTAINER_RAW",
                      "value": "[parameters('rawContainerName')]"
                    },
                    {
                      "name": "AZURE_BLOB_CONTAINER_PROCESSED",
                      "value": "[parameters('processedContainerName')]"
                    },
                    {
                      "name": "PREPROCESS_WORKERS",
                      "value": "16"
                    }
                  ],
                  "cors": {
                    "allowedOrigins": [
                      "https://portal.azure.com"
                    ]
                  },
                  "minTlsVersion": "1.2"
                }
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('storageBlobDataContributorRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageBlobDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('storageQueueDataContributorRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageQueueDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('storageAccountId'), resourceId('Microsoft.Web/sites', variables('funcAppName')), variables('storageTableDataContributorRoleId'))]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageTableDataContributorRoleId'))]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
              ]
            }
          ],
          "outputs": {
            "funcAppName": {
              "type": "string",
              "value": "[variables('funcAppName')]"
            },
            "funcAppHostname": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01').defaultHostName]"
            },
            "funcAppId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Web/sites', variables('funcAppName'))]"
            },
            "funcAppPrincipalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01', 'full').identity.principalId]"
            },
            "preprocessTriggerUrl": {
              "type": "string",
              "value": "[format('https://{0}/api/preprocess', reference(resourceId('Microsoft.Web/sites', variables('funcAppName')), '2023-12-01').defaultHostName)]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'function-crawler-deployment')]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'storage-deployment')]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'vnet-deployment')]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "logic-app-crawl-deployment",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          },
          "crawlFunctionUrl": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'function-crawler-deployment'), '2025-04-01').outputs.crawlTriggerUrl.value]"
          },
          "preprocessFunctionUrl": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'function-preprocess-deployment'), '2025-04-01').outputs.preprocessTriggerUrl.value]"
          },
          "crawlerLimit": {
            "value": "[parameters('crawlerLimit')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "2852754785927449942"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            },
            "crawlFunctionUrl": {
              "type": "string",
              "metadata": {
                "description": "호출할 크롤 Function HTTP 트리거 URL (/api/crawl)"
              }
            },
            "preprocessFunctionUrl": {
              "type": "string",
              "metadata": {
                "description": "호출할 Preprocess Function HTTP 트리거 URL (/api/preprocess)"
              }
            },
            "crawlerLimit": {
              "type": "int",
              "defaultValue": 0,
              "metadata": {
                "description": "수집할 법령 건수 (0 = 무제한)"
              }
            }
          },
          "variables": {
            "workflowName": "[format('logic-crawl-ragi-{0}', take(parameters('suffix'), 8))]"
          },
          "resources": [
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[variables('workflowName')]",
              "location": "[parameters('location')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {},
                  "triggers": {
                    "Daily_Schedule_Crawl_and_Preprocess": {
                      "type": "Recurrence",
                      "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "schedule": {
                          "hours": [
                            "21"
                          ],
                          "minutes": [
                            0
                          ]
                        },
                        "timeZone": "UTC"
                      },
                      "metadata": {
                        "description": "06:00 KST - crawl + preprocess pipeline"
                      }
                    }
                  },
                  "actions": {
                    "Initialize_Today_Date": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "crawlDate",
                            "type": "string",
                            "value": "@{formatDateTime(utcNow(), 'yyyy-MM-dd')}"
                          }
                        ]
                      },
                      "runAfter": {}
                    },
                    "Call_Crawl_Function_All_Sources": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "[parameters('crawlFunctionUrl')]",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "source": "all",
                          "max_pages": "[parameters('crawlerLimit')]",
                          "detail_workers": 5,
                          "triggered_by": "logic-app-crawl-preprocess"
                        },
                        "retryPolicy": {
                          "type": "fixed",
                          "count": 3,
                          "interval": "PT1M"
                        }
                      },
                      "runAfter": {
                        "Initialize_Today_Date": [
                          "Succeeded"
                        ]
                      },
                      "limit": {
                        "timeout": "PT2H"
                      },
                      "metadata": {
                        "description": "crawl Function - all 4 sources (prec/detc/expc/admrul)"
                      }
                    },
                    "Check_Crawl_Success": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@body('Call_Crawl_Function_All_Sources')?['status']",
                              "success"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Parallel_Preprocess_Sources": {
                          "type": "Scope",
                          "actions": {
                            "Preprocess_Prec": {
                              "type": "Http",
                              "inputs": {
                                "method": "POST",
                                "uri": "[parameters('preprocessFunctionUrl')]",
                                "headers": {
                                  "Content-Type": "application/json"
                                },
                                "body": {
                                  "source": "prec",
                                  "crawl_date": "@{variables('crawlDate')}",
                                  "triggered_by": "logic-app-crawl-preprocess"
                                }
                              },
                              "limit": {
                                "timeout": "PT1H"
                              },
                              "metadata": {
                                "description": "prec JSON -> JSONL"
                              }
                            },
                            "Preprocess_Detc": {
                              "type": "Http",
                              "inputs": {
                                "method": "POST",
                                "uri": "[parameters('preprocessFunctionUrl')]",
                                "headers": {
                                  "Content-Type": "application/json"
                                },
                                "body": {
                                  "source": "detc",
                                  "crawl_date": "@{variables('crawlDate')}",
                                  "triggered_by": "logic-app-crawl-preprocess"
                                }
                              },
                              "limit": {
                                "timeout": "PT1H"
                              },
                              "metadata": {
                                "description": "detc JSON -> JSONL"
                              }
                            },
                            "Preprocess_Expc": {
                              "type": "Http",
                              "inputs": {
                                "method": "POST",
                                "uri": "[parameters('preprocessFunctionUrl')]",
                                "headers": {
                                  "Content-Type": "application/json"
                                },
                                "body": {
                                  "source": "expc",
                                  "crawl_date": "@{variables('crawlDate')}",
                                  "triggered_by": "logic-app-crawl-preprocess"
                                }
                              },
                              "limit": {
                                "timeout": "PT1H"
                              },
                              "metadata": {
                                "description": "expc JSON -> JSONL"
                              }
                            },
                            "Preprocess_Admrul": {
                              "type": "Http",
                              "inputs": {
                                "method": "POST",
                                "uri": "[parameters('preprocessFunctionUrl')]",
                                "headers": {
                                  "Content-Type": "application/json"
                                },
                                "body": {
                                  "source": "admrul",
                                  "crawl_date": "@{variables('crawlDate')}",
                                  "triggered_by": "logic-app-crawl-preprocess"
                                }
                              },
                              "limit": {
                                "timeout": "PT1H"
                              },
                              "metadata": {
                                "description": "admrul JSON -> JSONL"
                              }
                            }
                          },
                          "runAfter": {},
                          "metadata": {
                            "description": "4-source parallel preprocess (Integration: JSON -> JSONL)"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Call_Crawl_Function_All_Sources": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Log_Pipeline_Completion": {
                      "type": "Compose",
                      "inputs": {
                        "completedAt": "@{utcNow()}",
                        "crawlDate": "@{variables('crawlDate')}",
                        "crawlStatus": "@{body('Call_Crawl_Function_All_Sources')?['status']}",
                        "crawlResult": "@body('Call_Crawl_Function_All_Sources')",
                        "preprocessResults": {
                          "prec": "@body('Preprocess_Prec')",
                          "detc": "@body('Preprocess_Detc')",
                          "expc": "@body('Preprocess_Expc')",
                          "admrul": "@body('Preprocess_Admrul')"
                        }
                      },
                      "runAfter": {
                        "Check_Crawl_Success": [
                          "Succeeded",
                          "Failed",
                          "Skipped"
                        ]
                      },
                      "metadata": {
                        "description": "final pipeline result log (crawl + 4-source preprocess)"
                      }
                    }
                  }
                }
              },
              "tags": {
                "project": "rag-indexing-lab",
                "workflow": "crawl-preprocess-workflow"
              }
            }
          ],
          "outputs": {
            "crawlWorkflowName": {
              "type": "string",
              "value": "[variables('workflowName')]"
            },
            "crawlWorkflowId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Logic/workflows', variables('workflowName'))]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'function-crawler-deployment')]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'function-preprocess-deployment')]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "foundry-hub-deployment",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          },
          "storageAccountId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'storage-deployment'), '2025-04-01').outputs.storageAccountId.value]"
          },
          "storageAccountName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'storage-deployment'), '2025-04-01').outputs.storageAccountName.value]"
          },
          "searchServiceId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'ai-search-deployment'), '2025-04-01').outputs.searchServiceId.value]"
          },
          "searchServiceName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'ai-search-deployment'), '2025-04-01').outputs.searchServiceName.value]"
          },
          "searchEndpoint": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'ai-search-deployment'), '2025-04-01').outputs.endpoint.value]"
          },
          "aiServicesId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'openai-deployment'), '2025-04-01').outputs.accountId.value]"
          },
          "aiServicesName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'openai-deployment'), '2025-04-01').outputs.accountName.value]"
          },
          "aiServicesEndpoint": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'openai-deployment'), '2025-04-01').outputs.endpoint.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "11035976316453375482"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            },
            "storageAccountId": {
              "type": "string",
              "metadata": {
                "description": "기존 Storage Account 리소스 ID"
              }
            },
            "storageAccountName": {
              "type": "string",
              "metadata": {
                "description": "기존 Storage Account 이름"
              }
            },
            "searchServiceId": {
              "type": "string",
              "metadata": {
                "description": "AI Search 서비스 리소스 ID"
              }
            },
            "searchServiceName": {
              "type": "string",
              "metadata": {
                "description": "AI Search 서비스 이름"
              }
            },
            "searchEndpoint": {
              "type": "string",
              "metadata": {
                "description": "AI Search 엔드포인트"
              }
            },
            "aiServicesId": {
              "type": "string",
              "metadata": {
                "description": "AI Services 리소스 ID"
              }
            },
            "aiServicesName": {
              "type": "string",
              "metadata": {
                "description": "AI Services 계정 이름"
              }
            },
            "aiServicesEndpoint": {
              "type": "string",
              "metadata": {
                "description": "AI Services 엔드포인트"
              }
            }
          },
          "variables": {
            "hubName": "[format('hub-ragi-{0}', take(parameters('suffix'), 8))]",
            "projectName": "[format('proj-ragi-{0}', take(parameters('suffix'), 8))]",
            "keyVaultName": "[format('kv-ragi-{0}', take(parameters('suffix'), 8))]"
          },
          "resources": [
            {
              "type": "Microsoft.KeyVault/vaults",
              "apiVersion": "2023-07-01",
              "name": "[variables('keyVaultName')]",
              "location": "[parameters('location')]",
              "properties": {
                "tenantId": "[subscription().tenantId]",
                "sku": {
                  "family": "A",
                  "name": "standard"
                },
                "enableRbacAuthorization": true,
                "enableSoftDelete": true,
                "softDeleteRetentionInDays": 7,
                "networkAcls": {
                  "defaultAction": "Deny",
                  "bypass": "AzureServices"
                }
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.MachineLearningServices/workspaces",
              "apiVersion": "2024-10-01",
              "name": "[variables('hubName')]",
              "location": "[parameters('location')]",
              "kind": "Hub",
              "sku": {
                "name": "Basic",
                "tier": "Basic"
              },
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "friendlyName": "RAG Indexing Lab Hub",
                "description": "Private AI Search 연결용 Azure AI Foundry Hub (BYO VNet)",
                "storageAccount": "[parameters('storageAccountId')]",
                "keyVault": "[resourceId('Microsoft.KeyVault/vaults', variables('keyVaultName'))]",
                "publicNetworkAccess": "Disabled"
              },
              "tags": {
                "project": "rag-indexing-lab"
              },
              "dependsOn": [
                "[resourceId('Microsoft.KeyVault/vaults', variables('keyVaultName'))]"
              ]
            },
            {
              "type": "Microsoft.MachineLearningServices/workspaces",
              "apiVersion": "2024-10-01",
              "name": "[variables('projectName')]",
              "location": "[parameters('location')]",
              "kind": "Project",
              "sku": {
                "name": "Basic",
                "tier": "Basic"
              },
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "friendlyName": "RAG Indexing Lab Project",
                "hubResourceId": "[resourceId('Microsoft.MachineLearningServices/workspaces', variables('hubName'))]",
                "publicNetworkAccess": "Disabled"
              },
              "tags": {
                "project": "rag-indexing-lab"
              },
              "dependsOn": [
                "[resourceId('Microsoft.MachineLearningServices/workspaces', variables('hubName'))]"
              ]
            },
            {
              "type": "Microsoft.MachineLearningServices/workspaces/connections",
              "apiVersion": "2024-10-01",
              "name": "[format('{0}/{1}', variables('hubName'), 'aisearch')]",
              "properties": {
                "category": "CognitiveSearch",
                "target": "[parameters('searchEndpoint')]",
                "authType": "AAD",
                "metadata": {
                  "ApiType": "azure",
                  "ApiVersion": "2024-07-01",
                  "ResourceId": "[parameters('searchServiceId')]"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.MachineLearningServices/workspaces', variables('hubName'))]"
              ]
            },
            {
              "type": "Microsoft.MachineLearningServices/workspaces/connections",
              "apiVersion": "2024-10-01",
              "name": "[format('{0}/{1}', variables('hubName'), 'aiservices')]",
              "properties": {
                "category": "AzureOpenAI",
                "target": "[parameters('aiServicesEndpoint')]",
                "authType": "AAD",
                "metadata": {
                  "ApiType": "azure",
                  "ApiVersion": "2024-10-01",
                  "ResourceId": "[parameters('aiServicesId')]"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.MachineLearningServices/workspaces', variables('hubName'))]"
              ]
            }
          ],
          "outputs": {
            "hubId": {
              "type": "string",
              "value": "[resourceId('Microsoft.MachineLearningServices/workspaces', variables('hubName'))]"
            },
            "hubName": {
              "type": "string",
              "value": "[variables('hubName')]"
            },
            "hubPrincipalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.MachineLearningServices/workspaces', variables('hubName')), '2024-10-01', 'full').identity.principalId]"
            },
            "projectName": {
              "type": "string",
              "value": "[variables('projectName')]"
            },
            "keyVaultId": {
              "type": "string",
              "value": "[resourceId('Microsoft.KeyVault/vaults', variables('keyVaultName'))]"
            },
            "keyVaultName": {
              "type": "string",
              "value": "[variables('keyVaultName')]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'ai-search-deployment')]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'openai-deployment')]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'storage-deployment')]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "private-endpoints-deployment",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "suffix": {
            "value": "[parameters('suffix')]"
          },
          "pepSubnetId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'vnet-deployment'), '2025-04-01').outputs.pepSubnetId.value]"
          },
          "storageAccountId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'storage-deployment'), '2025-04-01').outputs.storageAccountId.value]"
          },
          "searchServiceId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'ai-search-deployment'), '2025-04-01').outputs.searchServiceId.value]"
          },
          "aiServicesId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'openai-deployment'), '2025-04-01').outputs.accountId.value]"
          },
          "docIntelligenceId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('docIntelResourceGroupName')), 'Microsoft.Resources/deployments', 'doc-intelligence-deployment'), '2025-04-01').outputs.docIntelligenceId.value]"
          },
          "hubId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'foundry-hub-deployment'), '2025-04-01').outputs.hubId.value]"
          },
          "keyVaultId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'foundry-hub-deployment'), '2025-04-01').outputs.keyVaultId.value]"
          },
          "blobDnsZoneId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'vnet-deployment'), '2025-04-01').outputs.blobDnsZoneId.value]"
          },
          "searchDnsZoneId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'vnet-deployment'), '2025-04-01').outputs.searchDnsZoneId.value]"
          },
          "cogServicesDnsZoneId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'vnet-deployment'), '2025-04-01').outputs.cogServicesDnsZoneId.value]"
          },
          "openaiDnsZoneId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'vnet-deployment'), '2025-04-01').outputs.openaiDnsZoneId.value]"
          },
          "azuremlDnsZoneId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'vnet-deployment'), '2025-04-01').outputs.azuremlDnsZoneId.value]"
          },
          "notebooksDnsZoneId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'vnet-deployment'), '2025-04-01').outputs.notebooksDnsZoneId.value]"
          },
          "vaultDnsZoneId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'vnet-deployment'), '2025-04-01').outputs.vaultDnsZoneId.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "13724224604013822509"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "suffix": {
              "type": "string",
              "metadata": {
                "description": "리소스 이름 접미사"
              }
            },
            "pepSubnetId": {
              "type": "string",
              "metadata": {
                "description": "Private Endpoint가 배치될 Subnet ID"
              }
            },
            "storageAccountId": {
              "type": "string",
              "metadata": {
                "description": "Storage Account 리소스 ID"
              }
            },
            "searchServiceId": {
              "type": "string",
              "metadata": {
                "description": "AI Search 서비스 리소스 ID"
              }
            },
            "aiServicesId": {
              "type": "string",
              "metadata": {
                "description": "AI Services 계정 리소스 ID (OpenAI)"
              }
            },
            "docIntelligenceId": {
              "type": "string",
              "metadata": {
                "description": "Document Intelligence 리소스 ID"
              }
            },
            "hubId": {
              "type": "string",
              "metadata": {
                "description": "AI Foundry Hub 리소스 ID"
              }
            },
            "keyVaultId": {
              "type": "string",
              "metadata": {
                "description": "Key Vault 리소스 ID"
              }
            },
            "blobDnsZoneId": {
              "type": "string",
              "metadata": {
                "description": "Blob Private DNS Zone ID"
              }
            },
            "searchDnsZoneId": {
              "type": "string",
              "metadata": {
                "description": "AI Search Private DNS Zone ID"
              }
            },
            "cogServicesDnsZoneId": {
              "type": "string",
              "metadata": {
                "description": "Cognitive Services Private DNS Zone ID"
              }
            },
            "openaiDnsZoneId": {
              "type": "string",
              "metadata": {
                "description": "OpenAI Private DNS Zone ID"
              }
            },
            "azuremlDnsZoneId": {
              "type": "string",
              "metadata": {
                "description": "Azure ML Private DNS Zone ID"
              }
            },
            "notebooksDnsZoneId": {
              "type": "string",
              "metadata": {
                "description": "Azure ML Notebooks Private DNS Zone ID"
              }
            },
            "vaultDnsZoneId": {
              "type": "string",
              "metadata": {
                "description": "Key Vault Private DNS Zone ID"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Network/privateEndpoints",
              "apiVersion": "2024-01-01",
              "name": "[format('pe-blob-ragi-{0}', take(parameters('suffix'), 8))]",
              "location": "[parameters('location')]",
              "properties": {
                "subnet": {
                  "id": "[parameters('pepSubnetId')]"
                },
                "privateLinkServiceConnections": [
                  {
                    "name": "pe-blob-conn",
                    "properties": {
                      "privateLinkServiceId": "[parameters('storageAccountId')]",
                      "groupIds": [
                        "blob"
                      ]
                    }
                  }
                ]
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Network/privateEndpoints/privateDnsZoneGroups",
              "apiVersion": "2024-01-01",
              "name": "[format('{0}/{1}', format('pe-blob-ragi-{0}', take(parameters('suffix'), 8)), 'blob-dns-group')]",
              "properties": {
                "privateDnsZoneConfigs": [
                  {
                    "name": "blob",
                    "properties": {
                      "privateDnsZoneId": "[parameters('blobDnsZoneId')]"
                    }
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateEndpoints', format('pe-blob-ragi-{0}', take(parameters('suffix'), 8)))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateEndpoints",
              "apiVersion": "2024-01-01",
              "name": "[format('pe-search-ragi-{0}', take(parameters('suffix'), 8))]",
              "location": "[parameters('location')]",
              "properties": {
                "subnet": {
                  "id": "[parameters('pepSubnetId')]"
                },
                "privateLinkServiceConnections": [
                  {
                    "name": "pe-search-conn",
                    "properties": {
                      "privateLinkServiceId": "[parameters('searchServiceId')]",
                      "groupIds": [
                        "searchService"
                      ]
                    }
                  }
                ]
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Network/privateEndpoints/privateDnsZoneGroups",
              "apiVersion": "2024-01-01",
              "name": "[format('{0}/{1}', format('pe-search-ragi-{0}', take(parameters('suffix'), 8)), 'search-dns-group')]",
              "properties": {
                "privateDnsZoneConfigs": [
                  {
                    "name": "search",
                    "properties": {
                      "privateDnsZoneId": "[parameters('searchDnsZoneId')]"
                    }
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateEndpoints', format('pe-search-ragi-{0}', take(parameters('suffix'), 8)))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateEndpoints",
              "apiVersion": "2024-01-01",
              "name": "[format('pe-aiservices-ragi-{0}', take(parameters('suffix'), 8))]",
              "location": "[parameters('location')]",
              "properties": {
                "subnet": {
                  "id": "[parameters('pepSubnetId')]"
                },
                "privateLinkServiceConnections": [
                  {
                    "name": "pe-aiservices-conn",
                    "properties": {
                      "privateLinkServiceId": "[parameters('aiServicesId')]",
                      "groupIds": [
                        "account"
                      ]
                    }
                  }
                ]
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Network/privateEndpoints/privateDnsZoneGroups",
              "apiVersion": "2024-01-01",
              "name": "[format('{0}/{1}', format('pe-aiservices-ragi-{0}', take(parameters('suffix'), 8)), 'aiservices-dns-group')]",
              "properties": {
                "privateDnsZoneConfigs": [
                  {
                    "name": "cognitiveservices",
                    "properties": {
                      "privateDnsZoneId": "[parameters('cogServicesDnsZoneId')]"
                    }
                  },
                  {
                    "name": "openai",
                    "properties": {
                      "privateDnsZoneId": "[parameters('openaiDnsZoneId')]"
                    }
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateEndpoints', format('pe-aiservices-ragi-{0}', take(parameters('suffix'), 8)))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateEndpoints",
              "apiVersion": "2024-01-01",
              "name": "[format('pe-docintel-ragi-{0}', take(parameters('suffix'), 8))]",
              "location": "[parameters('location')]",
              "properties": {
                "subnet": {
                  "id": "[parameters('pepSubnetId')]"
                },
                "privateLinkServiceConnections": [
                  {
                    "name": "pe-docintel-conn",
                    "properties": {
                      "privateLinkServiceId": "[parameters('docIntelligenceId')]",
                      "groupIds": [
                        "account"
                      ]
                    }
                  }
                ]
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Network/privateEndpoints/privateDnsZoneGroups",
              "apiVersion": "2024-01-01",
              "name": "[format('{0}/{1}', format('pe-docintel-ragi-{0}', take(parameters('suffix'), 8)), 'docintel-dns-group')]",
              "properties": {
                "privateDnsZoneConfigs": [
                  {
                    "name": "cognitiveservices",
                    "properties": {
                      "privateDnsZoneId": "[parameters('cogServicesDnsZoneId')]"
                    }
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateEndpoints', format('pe-docintel-ragi-{0}', take(parameters('suffix'), 8)))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateEndpoints",
              "apiVersion": "2024-01-01",
              "name": "[format('pe-hub-ragi-{0}', take(parameters('suffix'), 8))]",
              "location": "[parameters('location')]",
              "properties": {
                "subnet": {
                  "id": "[parameters('pepSubnetId')]"
                },
                "privateLinkServiceConnections": [
                  {
                    "name": "pe-hub-conn",
                    "properties": {
                      "privateLinkServiceId": "[parameters('hubId')]",
                      "groupIds": [
                        "amlworkspace"
                      ]
                    }
                  }
                ]
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Network/privateEndpoints/privateDnsZoneGroups",
              "apiVersion": "2024-01-01",
              "name": "[format('{0}/{1}', format('pe-hub-ragi-{0}', take(parameters('suffix'), 8)), 'hub-dns-group')]",
              "properties": {
                "privateDnsZoneConfigs": [
                  {
                    "name": "azureml",
                    "properties": {
                      "privateDnsZoneId": "[parameters('azuremlDnsZoneId')]"
                    }
                  },
                  {
                    "name": "notebooks",
                    "properties": {
                      "privateDnsZoneId": "[parameters('notebooksDnsZoneId')]"
                    }
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateEndpoints', format('pe-hub-ragi-{0}', take(parameters('suffix'), 8)))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateEndpoints",
              "apiVersion": "2024-01-01",
              "name": "[format('pe-kv-ragi-{0}', take(parameters('suffix'), 8))]",
              "location": "[parameters('location')]",
              "properties": {
                "subnet": {
                  "id": "[parameters('pepSubnetId')]"
                },
                "privateLinkServiceConnections": [
                  {
                    "name": "pe-kv-conn",
                    "properties": {
                      "privateLinkServiceId": "[parameters('keyVaultId')]",
                      "groupIds": [
                        "vault"
                      ]
                    }
                  }
                ]
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Network/privateEndpoints/privateDnsZoneGroups",
              "apiVersion": "2024-01-01",
              "name": "[format('{0}/{1}', format('pe-kv-ragi-{0}', take(parameters('suffix'), 8)), 'kv-dns-group')]",
              "properties": {
                "privateDnsZoneConfigs": [
                  {
                    "name": "vaultcore",
                    "properties": {
                      "privateDnsZoneId": "[parameters('vaultDnsZoneId')]"
                    }
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateEndpoints', format('pe-kv-ragi-{0}', take(parameters('suffix'), 8)))]"
              ]
            }
          ],
          "outputs": {
            "storagePeId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Network/privateEndpoints', format('pe-blob-ragi-{0}', take(parameters('suffix'), 8)))]"
            },
            "searchPeId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Network/privateEndpoints', format('pe-search-ragi-{0}', take(parameters('suffix'), 8)))]"
            },
            "aiServicesPeId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Network/privateEndpoints', format('pe-aiservices-ragi-{0}', take(parameters('suffix'), 8)))]"
            },
            "docIntelPeId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Network/privateEndpoints', format('pe-docintel-ragi-{0}', take(parameters('suffix'), 8)))]"
            },
            "hubPeId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Network/privateEndpoints', format('pe-hub-ragi-{0}', take(parameters('suffix'), 8)))]"
            },
            "kvPeId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Network/privateEndpoints', format('pe-kv-ragi-{0}', take(parameters('suffix'), 8)))]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'ai-search-deployment')]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('docIntelResourceGroupName')), 'Microsoft.Resources/deployments', 'doc-intelligence-deployment')]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'foundry-hub-deployment')]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'openai-deployment')]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'storage-deployment')]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'vnet-deployment')]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "jumpvm-deployment",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "jumpSubnetId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'vnet-deployment'), '2025-04-01').outputs.jumpSubnetId.value]"
          },
          "adminUsername": {
            "value": "[parameters('jumpvmAdminUsername')]"
          },
          "adminPassword": {
            "value": "[parameters('jumpvmAdminPassword')]"
          },
          "entraUserObjectIds": {
            "value": "[parameters('jumpvmEntraUserObjectIds')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.43.8.12551",
              "templateHash": "4719455426150093992"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "배포 리전"
              }
            },
            "jumpSubnetId": {
              "type": "string",
              "metadata": {
                "description": "JumpVM 서브넷 ID (snet-jump, 10.0.0.0/24)"
              }
            },
            "adminUsername": {
              "type": "string",
              "metadata": {
                "description": "VM 관리자 계정명"
              }
            },
            "adminPassword": {
              "type": "securestring",
              "metadata": {
                "description": "VM 관리자 비밀번호"
              }
            },
            "vmSize": {
              "type": "string",
              "defaultValue": "Standard_B2s_v2",
              "metadata": {
                "description": "VM 크기"
              }
            },
            "osPublisher": {
              "type": "string",
              "defaultValue": "MicrosoftWindowsDesktop",
              "metadata": {
                "description": "Windows 이미지 Publisher"
              }
            },
            "osOffer": {
              "type": "string",
              "defaultValue": "windows-11",
              "metadata": {
                "description": "Windows 이미지 Offer"
              }
            },
            "osSku": {
              "type": "string",
              "defaultValue": "win11-24h2-pro",
              "metadata": {
                "description": "Windows 이미지 SKU"
              }
            },
            "entraUserObjectIds": {
              "type": "array",
              "defaultValue": [],
              "metadata": {
                "description": "Entra ID 로그인을 허용할 사용자 Object ID 목록"
              }
            },
            "vmName": {
              "type": "string",
              "defaultValue": "jumpvmragi01",
              "metadata": {
                "description": "JumpVM 이름"
              }
            },
            "nicName": {
              "type": "string",
              "defaultValue": "jumpvmragi01VMNic",
              "metadata": {
                "description": "JumpVM NIC 이름"
              }
            },
            "pipName": {
              "type": "string",
              "defaultValue": "jumpvmragi01PublicIP",
              "metadata": {
                "description": "JumpVM Public IP 이름"
              }
            },
            "nsgName": {
              "type": "string",
              "defaultValue": "jumpvmragi01NSG",
              "metadata": {
                "description": "JumpVM NSG 이름"
              }
            }
          },
          "variables": {
            "vmUserLoginRoleId": "fb879df8-f326-4884-b1cf-06f3ad86be52"
          },
          "resources": [
            {
              "type": "Microsoft.Network/networkSecurityGroups",
              "apiVersion": "2024-01-01",
              "name": "[parameters('nsgName')]",
              "location": "[parameters('location')]",
              "properties": {
                "securityRules": [
                  {
                    "name": "AllowRDP",
                    "properties": {
                      "priority": 300,
                      "protocol": "Tcp",
                      "access": "Allow",
                      "direction": "Inbound",
                      "sourceAddressPrefix": "Internet",
                      "sourcePortRange": "*",
                      "destinationAddressPrefix": "*",
                      "destinationPortRange": "3389",
                      "description": "JumpVM RDP 접근 - 운영 환경에서는 소스 IP를 제한하세요"
                    }
                  }
                ]
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Network/publicIPAddresses",
              "apiVersion": "2024-01-01",
              "name": "[parameters('pipName')]",
              "location": "[parameters('location')]",
              "sku": {
                "name": "Standard"
              },
              "properties": {
                "publicIPAllocationMethod": "Static"
              },
              "tags": {
                "project": "rag-indexing-lab"
              }
            },
            {
              "type": "Microsoft.Network/networkInterfaces",
              "apiVersion": "2024-01-01",
              "name": "[parameters('nicName')]",
              "location": "[parameters('location')]",
              "properties": {
                "networkSecurityGroup": {
                  "id": "[resourceId('Microsoft.Network/networkSecurityGroups', parameters('nsgName'))]"
                },
                "ipConfigurations": [
                  {
                    "name": "ipconfig1",
                    "properties": {
                      "subnet": {
                        "id": "[parameters('jumpSubnetId')]"
                      },
                      "privateIPAllocationMethod": "Dynamic",
                      "publicIPAddress": {
                        "id": "[resourceId('Microsoft.Network/publicIPAddresses', parameters('pipName'))]"
                      }
                    }
                  }
                ]
              },
              "tags": {
                "project": "rag-indexing-lab"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/networkSecurityGroups', parameters('nsgName'))]",
                "[resourceId('Microsoft.Network/publicIPAddresses', parameters('pipName'))]"
              ]
            },
            {
              "type": "Microsoft.Compute/virtualMachines",
              "apiVersion": "2024-03-01",
              "name": "[parameters('vmName')]",
              "location": "[parameters('location')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "hardwareProfile": {
                  "vmSize": "[parameters('vmSize')]"
                },
                "storageProfile": {
                  "imageReference": {
                    "publisher": "[parameters('osPublisher')]",
                    "offer": "[parameters('osOffer')]",
                    "sku": "[parameters('osSku')]",
                    "version": "latest"
                  },
                  "osDisk": {
                    "createOption": "FromImage",
                    "managedDisk": {
                      "storageAccountType": "StandardSSD_LRS"
                    },
                    "deleteOption": "Delete"
                  }
                },
                "osProfile": {
                  "computerName": "jumpvmkrc2",
                  "adminUsername": "[parameters('adminUsername')]",
                  "adminPassword": "[parameters('adminPassword')]",
                  "windowsConfiguration": {
                    "enableAutomaticUpdates": true,
                    "patchSettings": {
                      "patchMode": "AutomaticByOS"
                    }
                  }
                },
                "networkProfile": {
                  "networkInterfaces": [
                    {
                      "id": "[resourceId('Microsoft.Network/networkInterfaces', parameters('nicName'))]"
                    }
                  ]
                }
              },
              "tags": {
                "project": "rag-indexing-lab"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/networkInterfaces', parameters('nicName'))]"
              ]
            },
            {
              "type": "Microsoft.Compute/virtualMachines/extensions",
              "apiVersion": "2024-03-01",
              "name": "[format('{0}/{1}', parameters('vmName'), 'AADLoginForWindows')]",
              "location": "[parameters('location')]",
              "properties": {
                "publisher": "Microsoft.Azure.ActiveDirectory",
                "type": "AADLoginForWindows",
                "typeHandlerVersion": "2.0",
                "autoUpgradeMinorVersion": true,
                "settings": {
                  "mdmId": ""
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.Compute/virtualMachines', parameters('vmName'))]"
              ]
            },
            {
              "type": "Microsoft.Compute/virtualMachines/extensions",
              "apiVersion": "2024-03-01",
              "name": "[format('{0}/{1}', parameters('vmName'), 'InstallDevTools')]",
              "location": "[parameters('location')]",
              "properties": {
                "publisher": "Microsoft.Compute",
                "type": "CustomScriptExtension",
                "typeHandlerVersion": "1.10",
                "autoUpgradeMinorVersion": true,
                "protectedSettings": {
                  "commandToExecute": "powershell -ExecutionPolicy Bypass -Command \"[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12; if (-not (Get-Command choco -ErrorAction SilentlyContinue)) { Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = 3072; iwr https://community.chocolatey.org/install.ps1 -UseBasicParsing | iex }; choco feature enable -n=allowGlobalConfirmation; choco install -y vscode git git.install gh azure-cli python3\""
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.Compute/virtualMachines/extensions', parameters('vmName'), 'AADLoginForWindows')]",
                "[resourceId('Microsoft.Compute/virtualMachines', parameters('vmName'))]"
              ]
            },
            {
              "copy": {
                "name": "entraUserVmLogin",
                "count": "[length(parameters('entraUserObjectIds'))]"
              },
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.Compute/virtualMachines', parameters('vmName'))]",
              "name": "[guid(resourceId('Microsoft.Compute/virtualMachines', parameters('vmName')), parameters('entraUserObjectIds')[copyIndex()], variables('vmUserLoginRoleId'))]",
              "properties": {
                "principalId": "[parameters('entraUserObjectIds')[copyIndex()]]",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('vmUserLoginRoleId'))]",
                "principalType": "User"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Compute/virtualMachines', parameters('vmName'))]"
              ]
            }
          ],
          "outputs": {
            "vmName": {
              "type": "string",
              "value": "[parameters('vmName')]"
            },
            "publicIpAddress": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Network/publicIPAddresses', parameters('pipName')), '2024-01-01').ipAddress]"
            },
            "privateIpAddress": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Network/networkInterfaces', parameters('nicName')), '2024-01-01').ipConfigurations[0].properties.privateIPAddress]"
            }
          }
        }
      },
      "dependsOn": [
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'vnet-deployment')]"
      ]
    }
  ],
  "outputs": {
    "resourceGroupName": {
      "type": "string",
      "value": "[parameters('resourceGroupName')]"
    },
    "docIntelResourceGroupName": {
      "type": "string",
      "value": "[parameters('docIntelResourceGroupName')]"
    },
    "location": {
      "type": "string",
      "value": "[parameters('location')]"
    },
    "docIntelLocation": {
      "type": "string",
      "value": "[parameters('docIntelLocation')]"
    },
    "vnetName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'vnet-deployment'), '2025-04-01').outputs.vnetName.value]"
    },
    "storageAccountName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'storage-deployment'), '2025-04-01').outputs.storageAccountName.value]"
    },
    "storageAccountBlobEndpoint": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'storage-deployment'), '2025-04-01').outputs.blobEndpoint.value]"
    },
    "openaiEndpoint": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'openai-deployment'), '2025-04-01').outputs.endpoint.value]"
    },
    "openaiAccountName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'openai-deployment'), '2025-04-01').outputs.accountName.value]"
    },
    "gptDeploymentName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'openai-deployment'), '2025-04-01').outputs.gptDeploymentName.value]"
    },
    "aiSearchEndpoint": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'ai-search-deployment'), '2025-04-01').outputs.endpoint.value]"
    },
    "aiSearchName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'ai-search-deployment'), '2025-04-01').outputs.searchServiceName.value]"
    },
    "docIntelligenceEndpoint": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('docIntelResourceGroupName')), 'Microsoft.Resources/deployments', 'doc-intelligence-deployment'), '2025-04-01').outputs.endpoint.value]"
    },
    "aiSearchPrincipalId": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'ai-search-deployment'), '2025-04-01').outputs.searchServicePrincipalId.value]"
    },
    "crawlFunctionUrl": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'function-crawler-deployment'), '2025-04-01').outputs.crawlTriggerUrl.value]"
    },
    "crawlFunctionName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'function-crawler-deployment'), '2025-04-01').outputs.funcAppName.value]"
    },
    "crawlLogicAppName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'logic-app-crawl-deployment'), '2025-04-01').outputs.crawlWorkflowName.value]"
    },
    "jumpvmName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'jumpvm-deployment'), '2025-04-01').outputs.vmName.value]"
    },
    "jumpvmPublicIp": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'jumpvm-deployment'), '2025-04-01').outputs.publicIpAddress.value]"
    },
    "foundryHubName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'foundry-hub-deployment'), '2025-04-01').outputs.hubName.value]"
    },
    "foundryProjectName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'foundry-hub-deployment'), '2025-04-01').outputs.projectName.value]"
    },
    "foundryKeyVaultName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'foundry-hub-deployment'), '2025-04-01').outputs.keyVaultName.value]"
    }
  }
}