logic-apps/crawl-workflow/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Daily_Schedule": {
                "type": "Recurrence",
                "recurrence": {
                    "frequency": "Day",
                    "interval": 1,
                    "schedule": {
                        "hours": ["6"],
                        "minutes": ["0"]
                    },
                    "timeZone": "Korea Standard Time"
                },
                "metadata": {
                    "description": "매일 오전 6시 (KST) - 신규/변경 법령 데이터 크롤링"
                }
            }
        },
        "actions": {
            "Initialize_NewItems_Count": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "newItemsCount",
                            "type": "integer",
                            "value": 0
                        }
                    ]
                },
                "runAfter": {}
            },
            "HTTP_Fetch_Recent_Laws": {
                "type": "Http",
                "inputs": {
                    "method": "GET",
                    "uri": "https://www.law.go.kr/DRF/lawSearch.do",
                    "queries": {
                        "OC": "@{appsetting('LAW_API_OC_KEY')}",
                        "target": "prec",
                        "type": "XML",
                        "display": "20",
                        "sort": "date"
                    },
                    "headers": {
                        "User-Agent": "Azure-Logic-App-RAG-Lab"
                    }
                },
                "runAfter": {
                    "Initialize_NewItems_Count": ["Succeeded"]
                },
                "metadata": {
                    "description": "law.go.kr DRF API에서 최근 판례 목록 조회 (OC 키 필요)"
                }
            },
            "Parse_XML_Response": {
                "type": "Compose",
                "inputs": "@xml(body('HTTP_Fetch_Recent_Laws'))",
                "runAfter": {
                    "HTTP_Fetch_Recent_Laws": ["Succeeded"]
                }
            },
            "For_Each_Law_Item": {
                "type": "Foreach",
                "foreach": "@xpath(outputs('Parse_XML_Response'), '//prec')",
                "actions": {
                    "Extract_Item_Info": {
                        "type": "Compose",
                        "inputs": {
                            "id": "@xpath(items('For_Each_Law_Item'), 'string(판례일련번호)')",
                            "name": "@xpath(items('For_Each_Law_Item'), 'string(사건명)')",
                            "date": "@xpath(items('For_Each_Law_Item'), 'string(선고일자)')"
                        }
                    },
                    "Check_If_Already_Exists": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                }
                            },
                            "method": "head",
                            "path": "/v2/datasets/@{encodeURIComponent('default')}/files/@{encodeURIComponent(concat('/processed-documents/', outputs('Extract_Item_Info')?['id'], '.md'))}"
                        },
                        "runAfter": {
                            "Extract_Item_Info": ["Succeeded"]
                        }
                    },
                    "Is_New_Item": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@actionOutputs('Check_If_Already_Exists')['statusCode']",
                                        404
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "HTTP_Get_Detail": {
                                "type": "Http",
                                "inputs": {
                                    "method": "GET",
                                    "uri": "https://www.law.go.kr/DRF/lawService.do",
                                    "queries": {
                                        "OC": "@{appsetting('LAW_API_OC_KEY')}",
                                        "target": "prec",
                                        "ID": "@{outputs('Extract_Item_Info')?['id']}",
                                        "type": "XML"
                                    }
                                }
                            },
                            "Create_Markdown_Content": {
                                "type": "Compose",
                                "inputs": "@concat('# ', outputs('Extract_Item_Info')?['name'], '\n\n', '선고일자: ', outputs('Extract_Item_Info')?['date'], '\n\n', body('HTTP_Get_Detail'))",
                                "runAfter": {
                                    "HTTP_Get_Detail": ["Succeeded"]
                                }
                            },
                            "Upload_to_Blob": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/v2/datasets/@{encodeURIComponent('default')}/files",
                                    "queries": {
                                        "folderPath": "/raw-documents",
                                        "name": "@{concat(outputs('Extract_Item_Info')?['id'], '.md')}",
                                        "queryParametersSingleEncoded": true
                                    },
                                    "body": "@outputs('Create_Markdown_Content')"
                                },
                                "runAfter": {
                                    "Create_Markdown_Content": ["Succeeded"]
                                },
                                "metadata": {
                                    "description": "Blob에 업로드 → rag-indexing-workflow가 자동 트리거됨"
                                }
                            },
                            "Increment_New_Count": {
                                "type": "IncrementVariable",
                                "inputs": {
                                    "name": "newItemsCount",
                                    "value": 1
                                },
                                "runAfter": {
                                    "Upload_to_Blob": ["Succeeded"]
                                }
                            }
                        },
                        "else": {
                            "actions": {}
                        },
                        "runAfter": {
                            "Check_If_Already_Exists": ["Succeeded", "Failed"]
                        }
                    }
                },
                "runAfter": {
                    "Parse_XML_Response": ["Succeeded"]
                },
                "runtimeConfiguration": {
                    "concurrency": {
                        "repetitions": 1
                    }
                }
            },
            "Log_Crawl_Result": {
                "type": "Compose",
                "inputs": {
                    "status": "completed",
                    "timestamp": "@utcNow()",
                    "newItemsCrawled": "@variables('newItemsCount')"
                },
                "runAfter": {
                    "For_Each_Law_Item": ["Succeeded"]
                }
            }
        },
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        }
    },
    "kind": "Stateful"
}
