logic-apps/crawl-preprocess-workflow/workflow.json
{
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "searchEndpoint": {
            "type": "string",
            "metadata": {
                "description": "AI Search service endpoint (e.g. https://search-ragi-xxxx.search.windows.net)"
            }
        }
    },
    "triggers": {
        "Recurrence": {
            "type": "Recurrence",
            "recurrence": {
                "frequency": "Day",
                "interval": 1,
                "schedule": {
                    "hours": ["21"],
                    "minutes": [0]
                },
                "timeZone": "UTC"
            }
        }
    },
    "actions": {
        "Initialize_Today_Date": {
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "crawlDate",
                        "type": "string",
                        "value": "@{formatDateTime(utcNow(), 'yyyy-MM-dd')}"
                    }
                ]
            },
            "runAfter": {}
        },
        "Start_Orchestration": {
            "type": "Http",
            "inputs": {
                "method": "POST",
                "uri": "https://func-crawl-cons-ragi-63325wdo.azurewebsites.net/api/orchestrators/crawl_preprocess",
                "headers": {
                    "Content-Type": "application/json"
                },
                "body": {
                    "source": "all",
                    "crawl_date": "@{variables('crawlDate')}",
                    "max_pages": 600,
                    "detail_workers": 20,
                    "skip_preprocess": false,
                    "triggered_by": "logic-app-durable"
                },
                "retryPolicy": {
                    "type": "fixed",
                    "count": 3,
                    "interval": "PT30S"
                }
            },
            "operationOptions": "DisableAsyncPattern",
            "runAfter": {
                "Initialize_Today_Date": ["Succeeded"]
            }
        },
        "Initialize_Status_Url": {
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "statusUrl",
                        "type": "string",
                        "value": "@{body('Start_Orchestration')?['statusQueryGetUri']}"
                    }
                ]
            },
            "runAfter": {
                "Start_Orchestration": ["Succeeded"]
            }
        },
        "Initialize_Status_Body": {
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "orchestrationStatus",
                        "type": "object",
                        "value": {
                            "runtimeStatus": "Pending"
                        }
                    }
                ]
            },
            "runAfter": {
                "Initialize_Status_Url": ["Succeeded"]
            }
        },
        "Until_Completed": {
            "type": "Until",
            "expression": "@contains(createArray('Completed','Failed','Terminated','Canceled'), variables('orchestrationStatus')?['runtimeStatus'])",
            "limit": {
                "count": 2880,
                "timeout": "PT24H"
            },
            "actions": {
                "Wait_Poll_Interval": {
                    "type": "Wait",
                    "inputs": {
                        "interval": {
                            "count": 30,
                            "unit": "Second"
                        }
                    },
                    "runAfter": {}
                },
                "Get_Orchestration_Status": {
                    "type": "Http",
                    "inputs": {
                        "method": "GET",
                        "uri": "@variables('statusUrl')"
                    },
                    "runAfter": {
                        "Wait_Poll_Interval": ["Succeeded"]
                    }
                },
                "Update_Status": {
                    "type": "SetVariable",
                    "inputs": {
                        "name": "orchestrationStatus",
                        "value": "@body('Get_Orchestration_Status')"
                    },
                    "runAfter": {
                        "Get_Orchestration_Status": ["Succeeded"]
                    }
                }
            },
            "runAfter": {
                "Initialize_Status_Body": ["Succeeded"]
            }
        },
        "Log_Pipeline_Completion": {
            "type": "Compose",
            "inputs": {
                "crawlDate": "@{variables('crawlDate')}",
                "instanceId": "@{variables('orchestrationStatus')?['instanceId']}",
                "runtimeStatus": "@{variables('orchestrationStatus')?['runtimeStatus']}",
                "createdTime": "@{variables('orchestrationStatus')?['createdTime']}",
                "lastUpdatedTime": "@{variables('orchestrationStatus')?['lastUpdatedTime']}",
                "output": "@variables('orchestrationStatus')?['output']",
                "completedAt": "@{utcNow()}"
            },
            "runAfter": {
                "Until_Completed": ["Succeeded"]
            }
        },
        "Check_Final_Status": {
            "type": "If",
            "expression": {
                "not": {
                    "equals": [
                        "@variables('orchestrationStatus')?['runtimeStatus']",
                        "Completed"
                    ]
                }
            },
            "actions": {
                "Terminate_With_Failure": {
                    "type": "Terminate",
                    "inputs": {
                        "runStatus": "Failed",
                        "runError": {
                            "code": "OrchestrationFailed",
                            "message": "Durable orchestration ended with non-Completed status: @{variables('orchestrationStatus')?['runtimeStatus']}"
                        }
                    },
                    "runAfter": {}
                }
            },
            "runAfter": {
                "Log_Pipeline_Completion": ["Succeeded"]
            }
        },
        "Run_Indexers_FireAndForget": {
            "type": "Scope",
            "actions": {
                "Run_Prec_Court_Indexer": {
                    "type": "Http",
                    "inputs": {
                        "method": "POST",
                        "uri": "@{parameters('searchEndpoint')}/indexers/prec-court-indexer/run?api-version=2024-11-01-preview",
                        "authentication": {
                            "type": "ManagedServiceIdentity",
                            "audience": "https://search.azure.com"
                        }
                    },
                    "runAfter": {}
                },
                "Run_Const_Court_Indexer": {
                    "type": "Http",
                    "inputs": {
                        "method": "POST",
                        "uri": "@{parameters('searchEndpoint')}/indexers/const-court-indexer/run?api-version=2024-11-01-preview",
                        "authentication": {
                            "type": "ManagedServiceIdentity",
                            "audience": "https://search.azure.com"
                        }
                    },
                    "runAfter": {}
                },
                "Run_Legis_Interp_Indexer": {
                    "type": "Http",
                    "inputs": {
                        "method": "POST",
                        "uri": "@{parameters('searchEndpoint')}/indexers/legis-interp-indexer/run?api-version=2024-11-01-preview",
                        "authentication": {
                            "type": "ManagedServiceIdentity",
                            "audience": "https://search.azure.com"
                        }
                    },
                    "runAfter": {}
                },
                "Run_Admin_Appeal_Indexer": {
                    "type": "Http",
                    "inputs": {
                        "method": "POST",
                        "uri": "@{parameters('searchEndpoint')}/indexers/admin-appeal-indexer/run?api-version=2024-11-01-preview",
                        "authentication": {
                            "type": "ManagedServiceIdentity",
                            "audience": "https://search.azure.com"
                        }
                    },
                    "runAfter": {}
                }
            },
            "runAfter": {
                "Check_Final_Status": ["Succeeded"]
            }
        }
    }
}
